body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:955px;
}
#u3063 {
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:955px;
}
#u3064 {
  position:absolute;
  left:2px;
  top:470px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:67px;
}
#u3065 {
  position:absolute;
  left:532px;
  top:319px;
  width:181px;
  height:67px;
  font-size:28px;
  color:#FF0000;
}
#u3066 {
  position:absolute;
  left:2px;
  top:17px;
  width:177px;
  word-wrap:break-word;
}
#u3065_ann {
  position:absolute;
  left:706px;
  top:315px;
  width:1px;
  height:1px;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:144px;
}
#u3067 {
  position:absolute;
  left:431px;
  top:665px;
  width:348px;
  height:144px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u3068 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u3067_ann {
  position:absolute;
  left:772px;
  top:661px;
  width:1px;
  height:1px;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:201px;
}
#u3069 {
  position:absolute;
  left:301px;
  top:18px;
  width:643px;
  height:201px;
  color:#FFFFFF;
}
#u3070 {
  position:absolute;
  left:2px;
  top:30px;
  width:639px;
  word-wrap:break-word;
}
#u3069_ann {
  position:absolute;
  left:937px;
  top:14px;
  width:1px;
  height:1px;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u3071 {
  position:absolute;
  left:431px;
  top:492px;
  width:101px;
  height:57px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u3073 {
  position:absolute;
  left:558px;
  top:513px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3074 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u3075 {
  position:absolute;
  left:431px;
  top:559px;
  width:101px;
  height:57px;
}
#u3076 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3077 {
  position:absolute;
  left:558px;
  top:580px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u3079 {
  position:absolute;
  left:431px;
  top:453px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3079_ann {
  position:absolute;
  left:540px;
  top:449px;
  width:1px;
  height:1px;
}
