body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2909 {
  position:absolute;
  left:648px;
  top:64px;
  width:473px;
  height:954px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2911 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:744px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u2913 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:26px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u2915 {
  position:absolute;
  left:673px;
  top:192px;
  width:422px;
  height:13px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2917 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u2919 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2921 {
  position:absolute;
  left:673px;
  top:247px;
  width:422px;
  height:1px;
}
#u2922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u2924 {
  position:absolute;
  left:697px;
  top:283px;
  width:375px;
  height:250px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2925 {
  position:absolute;
  left:20px;
  top:80px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2926 {
  position:absolute;
  left:834px;
  top:307px;
  width:100px;
  height:100px;
  font-size:72px;
  color:#FFFFFF;
}
#u2927 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:58px;
}
#u2928 {
  position:absolute;
  left:816px;
  top:437px;
  width:145px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2929 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u2930 {
  position:absolute;
  left:683px;
  top:205px;
  width:22px;
  height:30px;
  font-size:28px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u2932 {
  position:absolute;
  left:500px;
  top:211px;
  width:104px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2934 {
  position:absolute;
  left:604px;
  top:221px;
  width:88px;
  height:1px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
