body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1324px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u902 {
  position:absolute;
  left:476px;
  top:99px;
  width:473px;
  height:954px;
}
#u903 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:742px;
}
#u904 {
  position:absolute;
  left:499px;
  top:204px;
  width:424px;
  height:742px;
}
#u905 {
  position:absolute;
  left:2px;
  top:363px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:47px;
}
#u906 {
  position:absolute;
  left:501px;
  top:228px;
  width:422px;
  height:47px;
}
#u907 {
  position:absolute;
  left:2px;
  top:16px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u908 {
  position:absolute;
  left:501px;
  top:202px;
  width:422px;
  height:26px;
}
#u909 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u910 {
  position:absolute;
  left:501px;
  top:228px;
  width:422px;
  height:45px;
}
#u911 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u912 {
  position:absolute;
  left:501px;
  top:235px;
  width:23px;
  height:31px;
}
#u913 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u914 {
  position:absolute;
  left:683px;
  top:238px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u917 {
  position:absolute;
  left:524px;
  top:319px;
  width:92px;
  height:65px;
}
#u918 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
}
#u919 {
  position:absolute;
  left:626px;
  top:322px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u921 {
  position:absolute;
  left:627px;
  top:362px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u923 {
  position:absolute;
  left:832px;
  top:364px;
  width:22px;
  height:20px;
}
#u924 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u925 {
  position:absolute;
  left:897px;
  top:360px;
  width:26px;
  height:24px;
}
#u926 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  position:absolute;
  left:854px;
  top:364px;
  width:43px;
  height:20px;
}
#u927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u927_input {
  color:#000000;
}
#u927_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
}
#u928 {
  position:absolute;
  left:500px;
  top:901px;
  width:300px;
  height:47px;
  text-align:right;
}
#u929 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:47px;
}
#u930 {
  position:absolute;
  left:800px;
  top:901px;
  width:122px;
  height:47px;
}
#u931 {
  position:absolute;
  left:2px;
  top:16px;
  width:118px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:2px;
}
#u932 {
  position:absolute;
  left:443px;
  top:924px;
  width:72px;
  height:1px;
}
#u933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
}
#u934 {
  position:absolute;
  left:181px;
  top:909px;
  width:262px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
}
#u935 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u936 {
  position:absolute;
  left:922px;
  top:905px;
  width:96px;
  height:1px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u938 {
  position:absolute;
  left:922px;
  top:953px;
  width:96px;
  height:1px;
}
#u939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:59px;
}
#u940 {
  position:absolute;
  left:1018px;
  top:947px;
  width:306px;
  height:59px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u941 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u942 {
  position:absolute;
  left:393px;
  top:250px;
  width:108px;
  height:1px;
}
#u943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u944 {
  position:absolute;
  left:299px;
  top:234px;
  width:94px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u945 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u946 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u946_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u946_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u949 {
  position:absolute;
  left:501px;
  top:275px;
  width:422px;
  height:1px;
}
#u950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:5px;
}
#u951 {
  position:absolute;
  left:501px;
  top:391px;
  width:422px;
  height:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u952 {
  position:absolute;
  left:2px;
  top:-6px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u954 {
  position:absolute;
  left:526px;
  top:405px;
  width:92px;
  height:65px;
}
#u955 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u956 {
  position:absolute;
  left:628px;
  top:408px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u958 {
  position:absolute;
  left:628px;
  top:451px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u960 {
  position:absolute;
  left:841px;
  top:450px;
  width:22px;
  height:20px;
}
#u961 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u962 {
  position:absolute;
  left:906px;
  top:446px;
  width:26px;
  height:24px;
}
#u963 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:861px;
  top:450px;
  width:43px;
  height:20px;
}
#u964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u964_input {
  color:#000000;
}
#u964_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:31px;
}
#u965 {
  position:absolute;
  left:501px;
  top:278px;
  width:422px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u966 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u968 {
  position:absolute;
  left:528px;
  top:529px;
  width:92px;
  height:65px;
}
#u969 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
}
#u970 {
  position:absolute;
  left:630px;
  top:532px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u972 {
  position:absolute;
  left:630px;
  top:575px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u974 {
  position:absolute;
  left:843px;
  top:574px;
  width:22px;
  height:20px;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u976 {
  position:absolute;
  left:908px;
  top:570px;
  width:26px;
  height:24px;
}
#u977 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  position:absolute;
  left:865px;
  top:574px;
  width:43px;
  height:20px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u978_input {
  color:#000000;
}
#u978_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:31px;
}
#u979 {
  position:absolute;
  left:501px;
  top:488px;
  width:422px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u980 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u981 {
  position:absolute;
  left:672px;
  top:293px;
  width:323px;
  height:1px;
}
#u982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u983 {
  position:absolute;
  left:995px;
  top:275px;
  width:250px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u984 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u985 {
  position:absolute;
  left:408px;
  top:352px;
  width:108px;
  height:1px;
}
#u986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u987 {
  position:absolute;
  left:312px;
  top:352px;
  width:96px;
  height:16px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u988 {
  position:absolute;
  left:2px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:2px;
}
#u989 {
  position:absolute;
  left:408px;
  top:394px;
  width:211px;
  height:1px;
}
#u990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u991 {
  position:absolute;
  left:255px;
  top:391px;
  width:153px;
  height:19px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u992 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u993 {
  position:absolute;
  left:405px;
  top:504px;
  width:108px;
  height:1px;
}
#u994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
}
#u995 {
  position:absolute;
  left:242px;
  top:488px;
  width:163px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u996 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u998 {
  position:absolute;
  left:534px;
  top:669px;
  width:92px;
  height:65px;
}
#u999 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
}
#u1000 {
  position:absolute;
  left:636px;
  top:672px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u1002 {
  position:absolute;
  left:636px;
  top:715px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:52px;
}
#u1004 {
  position:absolute;
  left:500px;
  top:607px;
  width:422px;
  height:52px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1005 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u1006 {
  position:absolute;
  left:404px;
  top:623px;
  width:108px;
  height:1px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
}
#u1008 {
  position:absolute;
  left:168px;
  top:607px;
  width:236px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1010 {
  position:absolute;
  left:886px;
  top:243px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1012 {
  position:absolute;
  left:501px;
  top:285px;
  width:100px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1014 {
  position:absolute;
  left:501px;
  top:344px;
  width:100px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1016 {
  position:absolute;
  left:501px;
  top:430px;
  width:100px;
  height:16px;
}
#u1017 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1018 {
  position:absolute;
  left:507px;
  top:497px;
  width:100px;
  height:16px;
}
#u1019 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1020 {
  position:absolute;
  left:504px;
  top:554px;
  width:100px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1022 {
  position:absolute;
  left:515px;
  top:917px;
  width:100px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1022_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u1024 {
  position:absolute;
  left:393px;
  top:292px;
  width:108px;
  height:1px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u1026 {
  position:absolute;
  left:189px;
  top:276px;
  width:204px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:8px;
  width:200px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u1028 {
  position:absolute;
  left:416px;
  top:319px;
  width:108px;
  height:1px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u1030 {
  position:absolute;
  left:320px;
  top:319px;
  width:96px;
  height:16px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1032 {
  position:absolute;
  left:871px;
  top:333px;
  width:124px;
  height:1px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:44px;
}
#u1034 {
  position:absolute;
  left:995px;
  top:316px;
  width:284px;
  height:44px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:29px;
}
#u1036 {
  position:absolute;
  left:1018px;
  top:891px;
  width:199px;
  height:29px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u1038 {
  position:absolute;
  left:915px;
  top:251px;
  width:80px;
  height:1px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u1040 {
  position:absolute;
  left:995px;
  top:227px;
  width:250px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u1042 {
  position:absolute;
  left:507px;
  top:625px;
  width:100px;
  height:16px;
}
#u1043 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1044 {
  position:absolute;
  left:507px;
  top:695px;
  width:100px;
  height:16px;
}
#u1045 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
