body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:60px;
}
#u13142 {
  position:absolute;
  left:236px;
  top:217px;
  width:184px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13143 {
  position:absolute;
  left:2px;
  top:22px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:60px;
}
#u13144 {
  position:absolute;
  left:419px;
  top:217px;
  width:506px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13145 {
  position:absolute;
  left:2px;
  top:22px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u13146 {
  position:absolute;
  left:300px;
  top:239px;
  width:34px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13147 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u13148 {
  position:absolute;
  left:430px;
  top:223px;
  width:465px;
  height:48px;
}
#u13148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13148_input {
  color:#000000;
}
#u13148_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:471px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u13149 {
  position:absolute;
  left:236px;
  top:497px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#199ED8;
}
#u13150 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13151 {
  position:absolute;
  left:236px;
  top:534px;
  width:89px;
  height:16px;
}
#u13152 {
  position:absolute;
  left:16px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u13151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13151_ann {
  position:absolute;
  left:318px;
  top:530px;
  width:1px;
  height:1px;
}
#u13153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u13153 {
  position:absolute;
  left:312px;
  top:542px;
  width:67px;
  height:1px;
}
#u13154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13155 {
  position:absolute;
  left:379px;
  top:534px;
  width:138px;
  height:16px;
}
#u13156 {
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u13157 {
  position:absolute;
  left:447px;
  top:541px;
  width:42px;
  height:1px;
}
#u13158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13159 {
  position:absolute;
  left:489px;
  top:534px;
  width:150px;
  height:16px;
}
#u13160 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u13159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13161 {
  position:absolute;
  left:495px;
  top:551px;
  width:1px;
  height:26px;
}
#u13162 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13163 {
  position:absolute;
  left:489px;
  top:577px;
  width:163px;
  height:16px;
}
#u13164 {
  position:absolute;
  left:16px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u13163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13165 {
  position:absolute;
  left:495px;
  top:594px;
  width:1px;
  height:26px;
}
#u13166 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13167 {
  position:absolute;
  left:489px;
  top:620px;
  width:163px;
  height:16px;
}
#u13168 {
  position:absolute;
  left:16px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u13167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:301px;
}
#u13169 {
  position:absolute;
  left:386px;
  top:551px;
  width:1px;
  height:300px;
}
#u13170 {
  position:absolute;
  left:2px;
  top:142px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u13172 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u13173 {
  position:absolute;
  left:2px;
  top:31px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u13174 {
  position:absolute;
  left:30px;
  top:21px;
  width:281px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u13175 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u13176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u13176 {
  position:absolute;
  left:1100px;
  top:29px;
  width:122px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13177 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u13176_ann {
  position:absolute;
  left:1215px;
  top:25px;
  width:1px;
  height:1px;
}
#u13178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13178 {
  position:absolute;
  left:1249px;
  top:24px;
  width:30px;
  height:30px;
}
#u13179 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13178_ann {
  position:absolute;
  left:1272px;
  top:20px;
  width:1px;
  height:1px;
}
#u13180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u13180 {
  position:absolute;
  left:959px;
  top:30px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13181 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13180_ann {
  position:absolute;
  left:1007px;
  top:26px;
  width:1px;
  height:1px;
}
#u13182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13183 {
  position:absolute;
  left:0px;
  top:77px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13183_img.mouseOver {
}
#u13183.mouseOver {
}
#u13184 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13186 {
  position:absolute;
  left:0px;
  top:134px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13186_img.mouseOver {
}
#u13186.mouseOver {
}
#u13187 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13188 {
  position:absolute;
  left:0px;
  top:228px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13188_img.mouseOver {
}
#u13188.mouseOver {
}
#u13189 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13190 {
  position:absolute;
  left:0px;
  top:275px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13190_img.mouseOver {
}
#u13190.mouseOver {
}
#u13191 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13192 {
  position:absolute;
  left:0px;
  top:181px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13192_img.mouseOver {
}
#u13192.mouseOver {
}
#u13193 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13195 {
  position:absolute;
  left:0px;
  top:567px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13195_img.mouseOver {
}
#u13195.mouseOver {
}
#u13196 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13198 {
  position:absolute;
  left:0px;
  top:624px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13198_img.mouseOver {
}
#u13198.mouseOver {
}
#u13199 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13200 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u13200_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13200_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13202 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13203 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u13204 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u13205 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u13206 {
  position:absolute;
  left:16px;
  top:66px;
  width:185px;
  height:33px;
}
#u13207 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u13208 {
  position:absolute;
  left:51px;
  top:126px;
  width:89px;
  height:28px;
}
#u13208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13208_input {
  color:#333333;
}
#u13208_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13209 {
  position:absolute;
  left:165px;
  top:126px;
  width:89px;
  height:28px;
}
#u13209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13209_input {
  color:#333333;
}
#u13209_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13211 {
  position:absolute;
  left:0px;
  top:672px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13211_img.mouseOver {
}
#u13211.mouseOver {
}
#u13212 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13214 {
  position:absolute;
  left:0px;
  top:729px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13214_img.mouseOver {
}
#u13214.mouseOver {
}
#u13215 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13217 {
  position:absolute;
  left:0px;
  top:882px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13217_img.mouseOver {
}
#u13217.mouseOver {
}
#u13218 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13220 {
  position:absolute;
  left:0px;
  top:939px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13220_img.mouseOver {
}
#u13220.mouseOver {
}
#u13221 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13222 {
  position:absolute;
  left:0px;
  top:986px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13222_img.mouseOver {
}
#u13222.mouseOver {
}
#u13223 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13224 {
  position:absolute;
  left:0px;
  top:1033px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13224_img.mouseOver {
}
#u13224.mouseOver {
}
#u13225 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13226 {
  position:absolute;
  left:0px;
  top:1127px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13226_img.mouseOver {
}
#u13226.mouseOver {
}
#u13227 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13228 {
  position:absolute;
  left:0px;
  top:1174px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13228_img.mouseOver {
}
#u13228.mouseOver {
}
#u13229 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13230 {
  position:absolute;
  left:0px;
  top:1221px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13230_img.mouseOver {
}
#u13230.mouseOver {
}
#u13231 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13232 {
  position:absolute;
  left:0px;
  top:1080px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13232_img.mouseOver {
}
#u13232.mouseOver {
}
#u13233 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13235 {
  position:absolute;
  left:0px;
  top:777px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13235_img.mouseOver {
}
#u13235.mouseOver {
}
#u13236 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13238 {
  position:absolute;
  left:0px;
  top:834px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13238_img.mouseOver {
}
#u13238.mouseOver {
}
#u13239 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13241 {
  position:absolute;
  left:0px;
  top:323px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13241_img.mouseOver {
}
#u13241.mouseOver {
}
#u13242 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13244 {
  position:absolute;
  left:0px;
  top:378px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13244_img.mouseOver {
}
#u13244.mouseOver {
}
#u13245 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13246 {
  position:absolute;
  left:0px;
  top:425px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13246_img.mouseOver {
}
#u13246.mouseOver {
}
#u13247 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13248 {
  position:absolute;
  left:0px;
  top:472px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13248_img.mouseOver {
}
#u13248.mouseOver {
}
#u13249 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13250 {
  position:absolute;
  left:0px;
  top:519px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13250_img.mouseOver {
}
#u13250.mouseOver {
}
#u13251 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13253 {
  position:absolute;
  left:0px;
  top:1269px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13253_img.mouseOver {
}
#u13253.mouseOver {
}
#u13254 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13256 {
  position:absolute;
  left:0px;
  top:1326px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13256_img.mouseOver {
}
#u13256.mouseOver {
}
#u13257 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13259 {
  position:absolute;
  left:0px;
  top:1374px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13259_img.mouseOver {
}
#u13259.mouseOver {
}
#u13260 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13261 {
  position:absolute;
  left:496px;
  top:638px;
  width:1px;
  height:26px;
}
#u13262 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13263 {
  position:absolute;
  left:489px;
  top:664px;
  width:100px;
  height:16px;
}
#u13264 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13263_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13265 {
  position:absolute;
  left:489px;
  top:707px;
  width:100px;
  height:16px;
}
#u13266 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13265_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13267 {
  position:absolute;
  left:489px;
  top:747px;
  width:100px;
  height:16px;
}
#u13268 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13267_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13269 {
  position:absolute;
  left:490px;
  top:787px;
  width:135px;
  height:16px;
}
#u13270 {
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u13269_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13271 {
  position:absolute;
  left:496px;
  top:682px;
  width:1px;
  height:26px;
}
#u13272 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13273 {
  position:absolute;
  left:496px;
  top:721px;
  width:1px;
  height:26px;
}
#u13274 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13275 {
  position:absolute;
  left:496px;
  top:761px;
  width:1px;
  height:26px;
}
#u13276 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13277 {
  position:absolute;
  left:379px;
  top:851px;
  width:138px;
  height:16px;
}
#u13278 {
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13277_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u13279 {
  position:absolute;
  left:447px;
  top:858px;
  width:42px;
  height:1px;
}
#u13280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13281 {
  position:absolute;
  left:489px;
  top:851px;
  width:150px;
  height:16px;
}
#u13282 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u13281_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13283 {
  position:absolute;
  left:379px;
  top:932px;
  width:138px;
  height:16px;
}
#u13284 {
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13283_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u13285 {
  position:absolute;
  left:447px;
  top:939px;
  width:42px;
  height:1px;
}
#u13286 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13287 {
  position:absolute;
  left:489px;
  top:932px;
  width:150px;
  height:16px;
}
#u13288 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u13287_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u13289 {
  position:absolute;
  left:386px;
  top:867px;
  width:1px;
  height:65px;
}
#u13290 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13291 {
  position:absolute;
  left:379px;
  top:1013px;
  width:138px;
  height:16px;
}
#u13292 {
  position:absolute;
  left:16px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13291_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:2px;
}
#u13293 {
  position:absolute;
  left:447px;
  top:1020px;
  width:42px;
  height:1px;
}
#u13294 {
  position:absolute;
  left:2px;
  top:-8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u13295 {
  position:absolute;
  left:386px;
  top:948px;
  width:1px;
  height:65px;
}
#u13296 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13297 {
  position:absolute;
  left:489px;
  top:1013px;
  width:150px;
  height:16px;
}
#u13298 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u13297_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13299 {
  position:absolute;
  left:495px;
  top:1030px;
  width:1px;
  height:26px;
}
#u13300 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13301 {
  position:absolute;
  left:489px;
  top:1056px;
  width:163px;
  height:16px;
}
#u13302 {
  position:absolute;
  left:16px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u13301_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13303 {
  position:absolute;
  left:495px;
  top:1073px;
  width:1px;
  height:26px;
}
#u13304 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13305 {
  position:absolute;
  left:489px;
  top:1099px;
  width:163px;
  height:16px;
}
#u13306 {
  position:absolute;
  left:16px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u13305_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13307 {
  position:absolute;
  left:496px;
  top:1117px;
  width:1px;
  height:26px;
}
#u13308 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13309 {
  position:absolute;
  left:489px;
  top:1143px;
  width:100px;
  height:16px;
}
#u13310 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13309_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13311 {
  position:absolute;
  left:489px;
  top:1186px;
  width:100px;
  height:16px;
}
#u13312 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13311_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13313 {
  position:absolute;
  left:489px;
  top:1226px;
  width:100px;
  height:16px;
}
#u13314 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13313_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13315 {
  position:absolute;
  left:496px;
  top:1161px;
  width:1px;
  height:26px;
}
#u13316 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u13317 {
  position:absolute;
  left:496px;
  top:1200px;
  width:1px;
  height:26px;
}
#u13318 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13319 {
  position:absolute;
  left:562px;
  top:1332px;
  width:123px;
  height:30px;
}
#u13319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13319_input {
  color:#333333;
}
#u13319_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:129px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13319_ann {
  position:absolute;
  left:678px;
  top:1328px;
  width:1px;
  height:1px;
}
#u13320 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u13320_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13320_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u13321 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13322 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13321_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u13323 {
  position:absolute;
  left:357px;
  top:1332px;
  width:126px;
  height:30px;
}
#u13323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13323_input {
  color:#333333;
}
#u13323_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13323_ann {
  position:absolute;
  left:476px;
  top:1328px;
  width:1px;
  height:1px;
}
#u13324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:60px;
}
#u13324 {
  position:absolute;
  left:236px;
  top:277px;
  width:184px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13325 {
  position:absolute;
  left:2px;
  top:22px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:60px;
}
#u13326 {
  position:absolute;
  left:419px;
  top:277px;
  width:506px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13327 {
  position:absolute;
  left:2px;
  top:22px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13328 {
  position:absolute;
  left:430px;
  top:283px;
  width:465px;
  height:48px;
}
#u13328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13328_input {
  color:#000000;
}
#u13328_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:471px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13328_ann {
  position:absolute;
  left:888px;
  top:279px;
  width:1px;
  height:1px;
}
#u13329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u13329 {
  position:absolute;
  left:300px;
  top:299px;
  width:34px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13330 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u13331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:60px;
}
#u13331 {
  position:absolute;
  left:236px;
  top:337px;
  width:184px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13332 {
  position:absolute;
  left:2px;
  top:22px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:60px;
}
#u13333 {
  position:absolute;
  left:419px;
  top:337px;
  width:506px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13334 {
  position:absolute;
  left:2px;
  top:22px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13335 {
  position:absolute;
  left:430px;
  top:343px;
  width:465px;
  height:48px;
}
#u13335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13335_input {
  color:#000000;
}
#u13335_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:471px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u13336 {
  position:absolute;
  left:300px;
  top:359px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13337 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u13338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:41px;
}
#u13338 {
  position:absolute;
  left:180px;
  top:98px;
  width:1120px;
  height:41px;
}
#u13339 {
  position:absolute;
  left:2px;
  top:12px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:3px;
}
#u13340 {
  position:absolute;
  left:180px;
  top:139px;
  width:1120px;
  height:3px;
}
#u13341 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13342 {
  position:absolute;
  left:195px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u13343 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u13344 {
  position:absolute;
  left:274px;
  top:110px;
  width:27px;
  height:19px;
  font-size:16px;
}
#u13345 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u13346 {
  position:absolute;
  left:312px;
  top:110px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u13347 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:60px;
}
#u13348 {
  position:absolute;
  left:236px;
  top:397px;
  width:184px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13349 {
  position:absolute;
  left:2px;
  top:22px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:60px;
}
#u13350 {
  position:absolute;
  left:419px;
  top:397px;
  width:506px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13351 {
  position:absolute;
  left:2px;
  top:22px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13352 {
  position:absolute;
  left:430px;
  top:403px;
  width:465px;
  height:48px;
}
#u13352_input {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13352_input {
  color:#000000;
}
#u13352_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:471px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u13353 {
  position:absolute;
  left:300px;
  top:419px;
  width:34px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13354 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
