body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u3325 {
  position:absolute;
  left:573px;
  top:203px;
  width:135px;
  height:16px;
  color:#999999;
}
#u3326 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3325_ann {
  position:absolute;
  left:701px;
  top:199px;
  width:1px;
  height:1px;
}
#u3327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:579px;
}
#u3327 {
  position:absolute;
  left:306px;
  top:239px;
  width:704px;
  height:579px;
}
#u3328 {
  position:absolute;
  left:2px;
  top:282px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3327_ann {
  position:absolute;
  left:1003px;
  top:235px;
  width:1px;
  height:1px;
}
#u3329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:22px;
}
#u3329 {
  position:absolute;
  left:441px;
  top:161px;
  width:391px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3330 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u3329_ann {
  position:absolute;
  left:825px;
  top:157px;
  width:1px;
  height:1px;
}
#u3331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3331 {
  position:absolute;
  left:306px;
  top:105px;
  width:110px;
  height:30px;
  color:#E54949;
}
#u3332 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3331_ann {
  position:absolute;
  left:409px;
  top:101px;
  width:1px;
  height:1px;
}
