body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12093 {
  position:absolute;
  left:162px;
  top:172px;
  width:149px;
  height:25px;
}
#u12093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12093_input {
  color:#000000;
}
#u12093_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:155px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12094 {
  position:absolute;
  left:162px;
  top:259px;
  width:1141px;
  height:249px;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12096 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  word-wrap:break-word;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
}
#u12097 {
  position:absolute;
  left:178px;
  top:0px;
  width:229px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12098 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u12099 {
  position:absolute;
  left:407px;
  top:0px;
  width:178px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12100 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  word-wrap:break-word;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:33px;
}
#u12101 {
  position:absolute;
  left:585px;
  top:0px;
  width:188px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12102 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u12103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:33px;
}
#u12103 {
  position:absolute;
  left:773px;
  top:0px;
  width:186px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12104 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u12105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u12105 {
  position:absolute;
  left:959px;
  top:0px;
  width:177px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12106 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u12105_ann {
  position:absolute;
  left:1122px;
  top:0px;
  width:1px;
  height:1px;
}
#u12107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
}
#u12107 {
  position:absolute;
  left:0px;
  top:33px;
  width:178px;
  height:52px;
}
#u12108 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
#u12109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:52px;
}
#u12109 {
  position:absolute;
  left:178px;
  top:33px;
  width:229px;
  height:52px;
}
#u12110 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u12111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
}
#u12111 {
  position:absolute;
  left:407px;
  top:33px;
  width:178px;
  height:52px;
}
#u12112 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
#u12113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:52px;
}
#u12113 {
  position:absolute;
  left:585px;
  top:33px;
  width:188px;
  height:52px;
}
#u12114 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u12115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:52px;
}
#u12115 {
  position:absolute;
  left:773px;
  top:33px;
  width:186px;
  height:52px;
}
#u12116 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u12117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:52px;
}
#u12117 {
  position:absolute;
  left:959px;
  top:33px;
  width:177px;
  height:52px;
}
#u12118 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:53px;
}
#u12119 {
  position:absolute;
  left:0px;
  top:85px;
  width:178px;
  height:53px;
}
#u12120 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
#u12121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:53px;
}
#u12121 {
  position:absolute;
  left:178px;
  top:85px;
  width:229px;
  height:53px;
}
#u12122 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u12123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:53px;
}
#u12123 {
  position:absolute;
  left:407px;
  top:85px;
  width:178px;
  height:53px;
}
#u12124 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
#u12125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:53px;
}
#u12125 {
  position:absolute;
  left:585px;
  top:85px;
  width:188px;
  height:53px;
}
#u12126 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u12127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u12127 {
  position:absolute;
  left:773px;
  top:85px;
  width:186px;
  height:53px;
}
#u12128 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u12127_ann {
  position:absolute;
  left:945px;
  top:85px;
  width:1px;
  height:1px;
}
#u12129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:53px;
}
#u12129 {
  position:absolute;
  left:959px;
  top:85px;
  width:177px;
  height:53px;
}
#u12130 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:53px;
}
#u12131 {
  position:absolute;
  left:0px;
  top:138px;
  width:178px;
  height:53px;
}
#u12132 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:53px;
}
#u12133 {
  position:absolute;
  left:178px;
  top:138px;
  width:229px;
  height:53px;
}
#u12134 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:53px;
}
#u12135 {
  position:absolute;
  left:407px;
  top:138px;
  width:178px;
  height:53px;
}
#u12136 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
#u12137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:53px;
}
#u12137 {
  position:absolute;
  left:585px;
  top:138px;
  width:188px;
  height:53px;
}
#u12138 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u12139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u12139 {
  position:absolute;
  left:773px;
  top:138px;
  width:186px;
  height:53px;
}
#u12140 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u12141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:53px;
}
#u12141 {
  position:absolute;
  left:959px;
  top:138px;
  width:177px;
  height:53px;
}
#u12142 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:53px;
}
#u12143 {
  position:absolute;
  left:0px;
  top:191px;
  width:178px;
  height:53px;
}
#u12144 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:53px;
}
#u12145 {
  position:absolute;
  left:178px;
  top:191px;
  width:229px;
  height:53px;
}
#u12146 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:53px;
}
#u12147 {
  position:absolute;
  left:407px;
  top:191px;
  width:178px;
  height:53px;
}
#u12148 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
#u12149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:53px;
}
#u12149 {
  position:absolute;
  left:585px;
  top:191px;
  width:188px;
  height:53px;
}
#u12150 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u12151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u12151 {
  position:absolute;
  left:773px;
  top:191px;
  width:186px;
  height:53px;
}
#u12152 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u12153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:53px;
}
#u12153 {
  position:absolute;
  left:959px;
  top:191px;
  width:177px;
  height:53px;
}
#u12154 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12155 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u12155_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u12157 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u12158 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12159 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u12160 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u12161 {
  position:absolute;
  left:16px;
  top:66px;
  width:185px;
  height:33px;
}
#u12162 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12163 {
  position:absolute;
  left:183px;
  top:130px;
  width:89px;
  height:28px;
}
#u12163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12163_input {
  color:#333333;
}
#u12163_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12164 {
  position:absolute;
  left:25px;
  top:130px;
  width:89px;
  height:28px;
}
#u12164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12164_input {
  color:#333333;
}
#u12164_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u12166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u12167 {
  position:absolute;
  left:2px;
  top:31px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u12168 {
  position:absolute;
  left:30px;
  top:21px;
  width:281px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12169 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u12170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u12170 {
  position:absolute;
  left:1100px;
  top:29px;
  width:122px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12171 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u12170_ann {
  position:absolute;
  left:1215px;
  top:25px;
  width:1px;
  height:1px;
}
#u12172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12172 {
  position:absolute;
  left:1249px;
  top:24px;
  width:30px;
  height:30px;
}
#u12173 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12172_ann {
  position:absolute;
  left:1272px;
  top:20px;
  width:1px;
  height:1px;
}
#u12174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u12174 {
  position:absolute;
  left:959px;
  top:30px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12175 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u12174_ann {
  position:absolute;
  left:1007px;
  top:26px;
  width:1px;
  height:1px;
}
#u12176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12177 {
  position:absolute;
  left:0px;
  top:77px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12177_img.mouseOver {
}
#u12177.mouseOver {
}
#u12178 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12180 {
  position:absolute;
  left:0px;
  top:134px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12180_img.mouseOver {
}
#u12180.mouseOver {
}
#u12181 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12182 {
  position:absolute;
  left:0px;
  top:228px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12182_img.mouseOver {
}
#u12182.mouseOver {
}
#u12183 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12184 {
  position:absolute;
  left:0px;
  top:275px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12184_img.mouseOver {
}
#u12184.mouseOver {
}
#u12185 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12186 {
  position:absolute;
  left:0px;
  top:181px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12186_img.mouseOver {
}
#u12186.mouseOver {
}
#u12187 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12189 {
  position:absolute;
  left:0px;
  top:567px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12189_img.mouseOver {
}
#u12189.mouseOver {
}
#u12190 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12192 {
  position:absolute;
  left:0px;
  top:624px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12192_img.mouseOver {
}
#u12192.mouseOver {
}
#u12193 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12194 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u12194_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12194_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u12196 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u12197 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12198 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u12199 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u12200 {
  position:absolute;
  left:16px;
  top:66px;
  width:185px;
  height:33px;
}
#u12201 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12202 {
  position:absolute;
  left:51px;
  top:126px;
  width:89px;
  height:28px;
}
#u12202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12202_input {
  color:#333333;
}
#u12202_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12203 {
  position:absolute;
  left:165px;
  top:126px;
  width:89px;
  height:28px;
}
#u12203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12203_input {
  color:#333333;
}
#u12203_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12205 {
  position:absolute;
  left:0px;
  top:672px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12205_img.mouseOver {
}
#u12205.mouseOver {
}
#u12206 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12208 {
  position:absolute;
  left:0px;
  top:729px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12208_img.mouseOver {
}
#u12208.mouseOver {
}
#u12209 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12211 {
  position:absolute;
  left:0px;
  top:882px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12211_img.mouseOver {
}
#u12211.mouseOver {
}
#u12212 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12214 {
  position:absolute;
  left:0px;
  top:939px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12214_img.mouseOver {
}
#u12214.mouseOver {
}
#u12215 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12216 {
  position:absolute;
  left:0px;
  top:986px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12216_img.mouseOver {
}
#u12216.mouseOver {
}
#u12217 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12218 {
  position:absolute;
  left:0px;
  top:1033px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12218_img.mouseOver {
}
#u12218.mouseOver {
}
#u12219 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12220 {
  position:absolute;
  left:0px;
  top:1127px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12220_img.mouseOver {
}
#u12220.mouseOver {
}
#u12221 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12222 {
  position:absolute;
  left:0px;
  top:1174px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12222_img.mouseOver {
}
#u12222.mouseOver {
}
#u12223 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12224 {
  position:absolute;
  left:0px;
  top:1221px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12224_img.mouseOver {
}
#u12224.mouseOver {
}
#u12225 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12226 {
  position:absolute;
  left:0px;
  top:1080px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12226_img.mouseOver {
}
#u12226.mouseOver {
}
#u12227 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12229 {
  position:absolute;
  left:0px;
  top:777px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12229_img.mouseOver {
}
#u12229.mouseOver {
}
#u12230 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12232 {
  position:absolute;
  left:0px;
  top:834px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12232_img.mouseOver {
}
#u12232.mouseOver {
}
#u12233 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12235 {
  position:absolute;
  left:0px;
  top:323px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12235_img.mouseOver {
}
#u12235.mouseOver {
}
#u12236 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12238 {
  position:absolute;
  left:0px;
  top:378px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12238_img.mouseOver {
}
#u12238.mouseOver {
}
#u12239 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12240 {
  position:absolute;
  left:0px;
  top:425px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12240_img.mouseOver {
}
#u12240.mouseOver {
}
#u12241 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12242 {
  position:absolute;
  left:0px;
  top:472px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12242_img.mouseOver {
}
#u12242.mouseOver {
}
#u12243 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12244 {
  position:absolute;
  left:0px;
  top:519px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12244_img.mouseOver {
}
#u12244.mouseOver {
}
#u12245 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12247 {
  position:absolute;
  left:0px;
  top:1269px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12247_img.mouseOver {
}
#u12247.mouseOver {
}
#u12248 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12250 {
  position:absolute;
  left:0px;
  top:1326px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12250_img.mouseOver {
}
#u12250.mouseOver {
}
#u12251 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12253 {
  position:absolute;
  left:0px;
  top:1374px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12253_img.mouseOver {
}
#u12253.mouseOver {
}
#u12254 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12255 {
  position:absolute;
  left:1199px;
  top:308px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u12255_img.mouseOver {
}
#u12255.mouseOver {
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12255_ann {
  position:absolute;
  left:1221px;
  top:304px;
  width:1px;
  height:1px;
}
#u12257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12257 {
  position:absolute;
  left:1199px;
  top:415px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u12257_img.mouseOver {
}
#u12257.mouseOver {
}
#u12258 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12259 {
  position:absolute;
  left:1199px;
  top:467px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u12259_img.mouseOver {
}
#u12259.mouseOver {
}
#u12260 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u12261 {
  position:absolute;
  left:348px;
  top:176px;
  width:71px;
  height:16px;
}
#u12262 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12263 {
  position:absolute;
  left:429px;
  top:174px;
  width:118px;
  height:22px;
}
#u12263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12263_input {
  color:#000000;
}
#u12263_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:124px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12263_input:disabled {
  color:grayText;
}
#u12264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u12264 {
  position:absolute;
  left:579px;
  top:178px;
  width:43px;
  height:16px;
}
#u12265 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12266 {
  position:absolute;
  left:638px;
  top:176px;
  width:118px;
  height:22px;
}
#u12266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12266_input {
  color:#000000;
}
#u12266_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:124px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12266_input:disabled {
  color:grayText;
}
#u12267 {
  position:absolute;
  left:810px;
  top:176px;
  width:140px;
  height:25px;
}
#u12267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12267_input {
  color:#333333;
}
#u12267_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u12268 {
  position:absolute;
  left:1199px;
  top:358px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u12268_img.mouseOver {
}
#u12268.mouseOver {
}
#u12269 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:41px;
}
#u12270 {
  position:absolute;
  left:180px;
  top:98px;
  width:1120px;
  height:41px;
}
#u12271 {
  position:absolute;
  left:2px;
  top:12px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:3px;
}
#u12272 {
  position:absolute;
  left:180px;
  top:139px;
  width:1120px;
  height:3px;
}
#u12273 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u12274 {
  position:absolute;
  left:195px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12275 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12276 {
  position:absolute;
  left:274px;
  top:110px;
  width:27px;
  height:19px;
  font-size:16px;
}
#u12277 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u12278 {
  position:absolute;
  left:312px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12279 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u12281 {
  position:absolute;
  left:635px;
  top:669px;
  width:64px;
  height:28px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u12281_ann {
  position:absolute;
  left:692px;
  top:665px;
  width:1px;
  height:1px;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12283 {
  position:absolute;
  left:698px;
  top:669px;
  width:28px;
  height:28px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u12285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12285 {
  position:absolute;
  left:726px;
  top:669px;
  width:28px;
  height:28px;
}
#u12286 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u12287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12287 {
  position:absolute;
  left:754px;
  top:669px;
  width:28px;
  height:28px;
}
#u12288 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12289 {
  position:absolute;
  left:782px;
  top:669px;
  width:28px;
  height:28px;
}
#u12290 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12291 {
  position:absolute;
  left:810px;
  top:669px;
  width:28px;
  height:28px;
}
#u12292 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u12291_ann {
  position:absolute;
  left:831px;
  top:665px;
  width:1px;
  height:1px;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u12293 {
  position:absolute;
  left:845px;
  top:679px;
  width:25px;
  height:16px;
}
#u12294 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u12295 {
  position:absolute;
  left:908px;
  top:669px;
  width:64px;
  height:28px;
}
#u12296 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u12295_ann {
  position:absolute;
  left:965px;
  top:665px;
  width:1px;
  height:1px;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u12297 {
  position:absolute;
  left:1009px;
  top:675px;
  width:29px;
  height:16px;
}
#u12298 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12299 {
  position:absolute;
  left:1048px;
  top:669px;
  width:45px;
  height:28px;
}
#u12299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12299_input {
  color:#000000;
}
#u12299_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:51px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u12300 {
  position:absolute;
  left:1103px;
  top:675px;
  width:15px;
  height:16px;
}
#u12301 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u12302 {
  position:absolute;
  left:1134px;
  top:669px;
  width:51px;
  height:28px;
}
#u12303 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u12302_ann {
  position:absolute;
  left:1178px;
  top:665px;
  width:1px;
  height:1px;
}
#u12304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12304 {
  position:absolute;
  left:881px;
  top:669px;
  width:28px;
  height:28px;
}
#u12305 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u12304_ann {
  position:absolute;
  left:902px;
  top:665px;
  width:1px;
  height:1px;
}
#u12306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:28px;
}
#u12306 {
  position:absolute;
  left:462px;
  top:605px;
  width:605px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12307 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  white-space:nowrap;
}
