body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2936 {
  position:absolute;
  left:648px;
  top:64px;
  width:473px;
  height:954px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2938 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:744px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u2940 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:26px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u2942 {
  position:absolute;
  left:673px;
  top:192px;
  width:422px;
  height:13px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2944 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u2946 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2948 {
  position:absolute;
  left:673px;
  top:247px;
  width:422px;
  height:1px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u2951 {
  position:absolute;
  left:697px;
  top:283px;
  width:375px;
  height:250px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2952 {
  position:absolute;
  left:20px;
  top:80px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2953 {
  position:absolute;
  left:834px;
  top:307px;
  width:100px;
  height:100px;
  font-size:72px;
  color:#FFFFFF;
}
#u2954 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:61px;
}
#u2955 {
  position:absolute;
  left:843px;
  top:435px;
  width:91px;
  height:61px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u2957 {
  position:absolute;
  left:683px;
  top:205px;
  width:22px;
  height:30px;
  font-size:28px;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u2959 {
  position:absolute;
  left:500px;
  top:211px;
  width:104px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2961 {
  position:absolute;
  left:604px;
  top:221px;
  width:88px;
  height:1px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
