body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2963 {
  position:absolute;
  left:648px;
  top:64px;
  width:473px;
  height:954px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2965 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:744px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u2967 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:26px;
}
#u2968 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u2969 {
  position:absolute;
  left:673px;
  top:192px;
  width:422px;
  height:13px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2971 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u2973 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2975 {
  position:absolute;
  left:673px;
  top:247px;
  width:422px;
  height:1px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u2978 {
  position:absolute;
  left:697px;
  top:283px;
  width:375px;
  height:250px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2979 {
  position:absolute;
  left:20px;
  top:80px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2980 {
  position:absolute;
  left:834px;
  top:307px;
  width:100px;
  height:100px;
  font-size:72px;
  color:#FFFFFF;
}
#u2981 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u2982 {
  position:absolute;
  left:798px;
  top:435px;
  width:181px;
  height:61px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u2984 {
  position:absolute;
  left:683px;
  top:205px;
  width:22px;
  height:30px;
  font-size:28px;
}
#u2985 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u2986 {
  position:absolute;
  left:500px;
  top:211px;
  width:104px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2988 {
  position:absolute;
  left:604px;
  top:221px;
  width:88px;
  height:1px;
}
#u2989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
