body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u4722 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u4723 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u4724 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u4725 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u4726 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u4727 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u4728 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:13px;
}
#u4729 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u4730 {
  position:absolute;
  left:525px;
  top:240px;
  width:422px;
  height:1px;
}
#u4731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u4732 {
  position:absolute;
  left:525px;
  top:235px;
  width:422px;
  height:45px;
}
#u4733 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u4734 {
  position:absolute;
  left:684px;
  top:248px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u4735 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u4736 {
  position:absolute;
  left:525px;
  top:279px;
  width:422px;
  height:1px;
}
#u4737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u4738 {
  position:absolute;
  left:529px;
  top:236px;
  width:32px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u4739 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
}
#u4740 {
  position:absolute;
  left:306px;
  top:241px;
  width:106px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4741 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u4742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u4742 {
  position:absolute;
  left:412px;
  top:252px;
  width:117px;
  height:1px;
}
#u4743 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:644px;
}
#u4744 {
  position:absolute;
  left:535px;
  top:300px;
  width:400px;
  height:644px;
}
#u4745 {
  position:absolute;
  left:2px;
  top:314px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:195px;
}
#u4746 {
  position:absolute;
  left:575px;
  top:324px;
  width:322px;
  height:195px;
}
#u4747 {
  position:absolute;
  left:2px;
  top:90px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4748 {
  position:absolute;
  left:612px;
  top:677px;
  width:264px;
  height:45px;
}
#u4748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:45px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4748_input {
  color:#333333;
}
#u4748_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:270px;
  height:51px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u4749 {
  position:absolute;
  left:612px;
  top:614px;
  width:149px;
  height:16px;
}
#u4750 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u4751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:24px;
}
#u4751 {
  position:absolute;
  left:293px;
  top:610px;
  width:192px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4752 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u4753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u4753 {
  position:absolute;
  left:485px;
  top:621px;
  width:117px;
  height:1px;
}
#u4754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u4755 {
  position:absolute;
  left:336px;
  top:688px;
  width:149px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4756 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u4757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u4757 {
  position:absolute;
  left:485px;
  top:699px;
  width:117px;
  height:1px;
}
#u4758 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:24px;
}
#u4759 {
  position:absolute;
  left:210px;
  top:402px;
  width:265px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4760 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u4761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u4761 {
  position:absolute;
  left:485px;
  top:413px;
  width:176px;
  height:1px;
}
#u4762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
