body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6703 {
  position:absolute;
  left:243px;
  top:280px;
  width:929px;
  height:1049px;
}
#u6704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:98px;
}
#u6704 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:98px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6705 {
  position:absolute;
  left:2px;
  top:41px;
  width:235px;
  word-wrap:break-word;
}
#u6706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:98px;
}
#u6706 {
  position:absolute;
  left:239px;
  top:0px;
  width:685px;
  height:98px;
  text-align:left;
}
#u6707 {
  position:absolute;
  left:2px;
  top:41px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:100px;
}
#u6708 {
  position:absolute;
  left:0px;
  top:98px;
  width:239px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6709 {
  position:absolute;
  left:2px;
  top:34px;
  width:235px;
  word-wrap:break-word;
}
#u6710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:100px;
}
#u6710 {
  position:absolute;
  left:239px;
  top:98px;
  width:685px;
  height:100px;
  text-align:left;
}
#u6711 {
  position:absolute;
  left:2px;
  top:42px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:122px;
}
#u6712 {
  position:absolute;
  left:0px;
  top:198px;
  width:239px;
  height:122px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6713 {
  position:absolute;
  left:2px;
  top:53px;
  width:235px;
  word-wrap:break-word;
}
#u6714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:122px;
}
#u6714 {
  position:absolute;
  left:239px;
  top:198px;
  width:685px;
  height:122px;
  text-align:left;
}
#u6715 {
  position:absolute;
  left:2px;
  top:53px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:136px;
}
#u6716 {
  position:absolute;
  left:0px;
  top:320px;
  width:239px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6717 {
  position:absolute;
  left:2px;
  top:60px;
  width:235px;
  word-wrap:break-word;
}
#u6718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:136px;
}
#u6718 {
  position:absolute;
  left:239px;
  top:320px;
  width:685px;
  height:136px;
  text-align:left;
}
#u6719 {
  position:absolute;
  left:2px;
  top:60px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:142px;
}
#u6720 {
  position:absolute;
  left:0px;
  top:456px;
  width:239px;
  height:142px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6721 {
  position:absolute;
  left:2px;
  top:63px;
  width:235px;
  word-wrap:break-word;
}
#u6722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:142px;
}
#u6722 {
  position:absolute;
  left:239px;
  top:456px;
  width:685px;
  height:142px;
  text-align:left;
}
#u6723 {
  position:absolute;
  left:2px;
  top:63px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:142px;
}
#u6724 {
  position:absolute;
  left:0px;
  top:598px;
  width:239px;
  height:142px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6725 {
  position:absolute;
  left:2px;
  top:63px;
  width:235px;
  word-wrap:break-word;
}
#u6726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:142px;
}
#u6726 {
  position:absolute;
  left:239px;
  top:598px;
  width:685px;
  height:142px;
  text-align:left;
}
#u6727 {
  position:absolute;
  left:2px;
  top:63px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:142px;
}
#u6728 {
  position:absolute;
  left:0px;
  top:740px;
  width:239px;
  height:142px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6729 {
  position:absolute;
  left:2px;
  top:63px;
  width:235px;
  word-wrap:break-word;
}
#u6730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:142px;
}
#u6730 {
  position:absolute;
  left:239px;
  top:740px;
  width:685px;
  height:142px;
  text-align:left;
}
#u6731 {
  position:absolute;
  left:2px;
  top:63px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:162px;
}
#u6732 {
  position:absolute;
  left:0px;
  top:882px;
  width:239px;
  height:162px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u6733 {
  position:absolute;
  left:2px;
  top:73px;
  width:235px;
  word-wrap:break-word;
}
#u6734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:162px;
}
#u6734 {
  position:absolute;
  left:239px;
  top:882px;
  width:685px;
  height:162px;
  text-align:left;
}
#u6735 {
  position:absolute;
  left:2px;
  top:17px;
  width:681px;
  word-wrap:break-word;
}
#u6736 {
  position:absolute;
  left:766px;
  top:1373px;
  width:140px;
  height:35px;
}
#u6736_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6736_input {
  color:#333333;
}
#u6736_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6736_ann {
  position:absolute;
  left:899px;
  top:1369px;
  width:1px;
  height:1px;
}
#u6738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u6738 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u6739 {
  position:absolute;
  left:2px;
  top:31px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u6740 {
  position:absolute;
  left:30px;
  top:21px;
  width:281px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6741 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u6742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u6742 {
  position:absolute;
  left:1100px;
  top:29px;
  width:122px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6743 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u6742_ann {
  position:absolute;
  left:1215px;
  top:25px;
  width:1px;
  height:1px;
}
#u6744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6744 {
  position:absolute;
  left:1249px;
  top:24px;
  width:30px;
  height:30px;
}
#u6745 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6744_ann {
  position:absolute;
  left:1272px;
  top:20px;
  width:1px;
  height:1px;
}
#u6746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u6746 {
  position:absolute;
  left:959px;
  top:30px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6747 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6746_ann {
  position:absolute;
  left:1007px;
  top:26px;
  width:1px;
  height:1px;
}
#u6748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6749 {
  position:absolute;
  left:0px;
  top:77px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6749_img.mouseOver {
}
#u6749.mouseOver {
}
#u6750 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6752 {
  position:absolute;
  left:0px;
  top:134px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6752_img.mouseOver {
}
#u6752.mouseOver {
}
#u6753 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6754 {
  position:absolute;
  left:0px;
  top:228px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6754_img.mouseOver {
}
#u6754.mouseOver {
}
#u6755 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6756 {
  position:absolute;
  left:0px;
  top:275px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6756_img.mouseOver {
}
#u6756.mouseOver {
}
#u6757 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6758 {
  position:absolute;
  left:0px;
  top:181px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6758_img.mouseOver {
}
#u6758.mouseOver {
}
#u6759 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6761 {
  position:absolute;
  left:0px;
  top:567px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6761_img.mouseOver {
}
#u6761.mouseOver {
}
#u6762 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6764 {
  position:absolute;
  left:0px;
  top:624px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6764_img.mouseOver {
}
#u6764.mouseOver {
}
#u6765 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6766 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u6766_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6766_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u6768 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u6769 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u6770 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u6771 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u6772 {
  position:absolute;
  left:16px;
  top:66px;
  width:185px;
  height:33px;
}
#u6773 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u6774 {
  position:absolute;
  left:51px;
  top:126px;
  width:89px;
  height:28px;
}
#u6774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6774_input {
  color:#333333;
}
#u6774_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6775 {
  position:absolute;
  left:165px;
  top:126px;
  width:89px;
  height:28px;
}
#u6775_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6775_input {
  color:#333333;
}
#u6775_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6776 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6777 {
  position:absolute;
  left:0px;
  top:672px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6777_img.mouseOver {
}
#u6777.mouseOver {
}
#u6778 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6780 {
  position:absolute;
  left:0px;
  top:729px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6780_img.mouseOver {
}
#u6780.mouseOver {
}
#u6781 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6783 {
  position:absolute;
  left:0px;
  top:882px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6783_img.mouseOver {
}
#u6783.mouseOver {
}
#u6784 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6786 {
  position:absolute;
  left:0px;
  top:939px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6786_img.mouseOver {
}
#u6786.mouseOver {
}
#u6787 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6788 {
  position:absolute;
  left:0px;
  top:986px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6788_img.mouseOver {
}
#u6788.mouseOver {
}
#u6789 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6790 {
  position:absolute;
  left:0px;
  top:1033px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6790_img.mouseOver {
}
#u6790.mouseOver {
}
#u6791 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6792 {
  position:absolute;
  left:0px;
  top:1127px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6792_img.mouseOver {
}
#u6792.mouseOver {
}
#u6793 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6794 {
  position:absolute;
  left:0px;
  top:1174px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6794_img.mouseOver {
}
#u6794.mouseOver {
}
#u6795 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6796 {
  position:absolute;
  left:0px;
  top:1221px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6796_img.mouseOver {
}
#u6796.mouseOver {
}
#u6797 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6798 {
  position:absolute;
  left:0px;
  top:1080px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6798_img.mouseOver {
}
#u6798.mouseOver {
}
#u6799 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6801 {
  position:absolute;
  left:0px;
  top:777px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6801_img.mouseOver {
}
#u6801.mouseOver {
}
#u6802 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6804 {
  position:absolute;
  left:0px;
  top:834px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6804_img.mouseOver {
}
#u6804.mouseOver {
}
#u6805 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6807 {
  position:absolute;
  left:0px;
  top:323px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6807_img.mouseOver {
}
#u6807.mouseOver {
}
#u6808 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6810 {
  position:absolute;
  left:0px;
  top:378px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6810_img.mouseOver {
}
#u6810.mouseOver {
}
#u6811 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6812 {
  position:absolute;
  left:0px;
  top:425px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6812_img.mouseOver {
}
#u6812.mouseOver {
}
#u6813 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6814 {
  position:absolute;
  left:0px;
  top:472px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6814_img.mouseOver {
}
#u6814.mouseOver {
}
#u6815 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6816 {
  position:absolute;
  left:0px;
  top:519px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6816_img.mouseOver {
}
#u6816.mouseOver {
}
#u6817 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u6819 {
  position:absolute;
  left:0px;
  top:1269px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u6819_img.mouseOver {
}
#u6819.mouseOver {
}
#u6820 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u6821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6822 {
  position:absolute;
  left:0px;
  top:1326px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6822_img.mouseOver {
}
#u6822.mouseOver {
}
#u6823 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u6825 {
  position:absolute;
  left:0px;
  top:1374px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6825_img.mouseOver {
}
#u6825.mouseOver {
}
#u6826 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u6827 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u6827_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6827_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6829 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u6830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6831 {
  position:absolute;
  left:509px;
  top:431px;
  width:132px;
  height:22px;
}
#u6831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6831_input {
  color:#000000;
}
#u6831_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:138px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6831_input:disabled {
  color:grayText;
}
#u6831_ann {
  position:absolute;
  left:634px;
  top:427px;
  width:1px;
  height:1px;
}
#u6832 {
  position:absolute;
  left:663px;
  top:430px;
  width:74px;
  height:25px;
}
#u6832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6832_input {
  color:#333333;
}
#u6832_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:80px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6832_ann {
  position:absolute;
  left:730px;
  top:426px;
  width:1px;
  height:1px;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u6834 {
  position:absolute;
  left:509px;
  top:394px;
  width:71px;
  height:16px;
}
#u6835 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6836 {
  position:absolute;
  left:652px;
  top:391px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6836_img.mouseOver {
}
#u6836.mouseOver {
}
#u6837 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6838 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u6838_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6838_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6840 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6839_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u6841 {
  position:absolute;
  left:498px;
  top:620px;
  width:219px;
  height:39px;
}
#u6841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6841_input {
  color:#000000;
}
#u6841_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:225px;
  height:45px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u6844 {
  position:absolute;
  left:498px;
  top:688px;
  width:135px;
  height:40px;
}
#u6844_img.selected {
}
#u6844.selected {
}
#u6845 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u6846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6846 {
  position:absolute;
  left:646px;
  top:698px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6846_img.mouseOver {
}
#u6846.mouseOver {
}
#u6847 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6846_ann {
  position:absolute;
  left:668px;
  top:694px;
  width:1px;
  height:1px;
}
#u6848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u6848 {
  position:absolute;
  left:750px;
  top:688px;
  width:135px;
  height:40px;
}
#u6848_img.selected {
}
#u6848.selected {
}
#u6849 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u6851 {
  position:absolute;
  left:973px;
  top:688px;
  width:135px;
  height:40px;
}
#u6851_img.selected {
}
#u6851.selected {
}
#u6852 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u6853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6853 {
  position:absolute;
  left:1118px;
  top:698px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6853_img.mouseOver {
}
#u6853.mouseOver {
}
#u6854 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6855 {
  position:absolute;
  left:897px;
  top:698px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6855_img.mouseOver {
}
#u6855.mouseOver {
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6857 {
  position:absolute;
  left:735px;
  top:627px;
  width:73px;
  height:25px;
}
#u6857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6857_input {
  color:#333333;
}
#u6857_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:79px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6857_ann {
  position:absolute;
  left:801px;
  top:623px;
  width:1px;
  height:1px;
}
#u6858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6859 {
  position:absolute;
  left:509px;
  top:798px;
  width:132px;
  height:22px;
}
#u6859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6859_input {
  color:#000000;
}
#u6859_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:138px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6859_input:disabled {
  color:grayText;
}
#u6859_ann {
  position:absolute;
  left:634px;
  top:794px;
  width:1px;
  height:1px;
}
#u6860 {
  position:absolute;
  left:663px;
  top:797px;
  width:74px;
  height:25px;
}
#u6860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6860_input {
  color:#333333;
}
#u6860_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:80px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6860_ann {
  position:absolute;
  left:730px;
  top:793px;
  width:1px;
  height:1px;
}
#u6861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u6862 {
  position:absolute;
  left:509px;
  top:761px;
  width:43px;
  height:16px;
}
#u6863 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6864 {
  position:absolute;
  left:652px;
  top:758px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6864_img.mouseOver {
}
#u6864.mouseOver {
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6866 {
  position:absolute;
  left:507px;
  top:324px;
  width:100px;
  height:16px;
}
#u6867 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6866_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6868 {
  position:absolute;
  left:640px;
  top:324px;
  width:100px;
  height:16px;
}
#u6869 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6868_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6871 {
  position:absolute;
  left:509px;
  top:543px;
  width:132px;
  height:22px;
}
#u6871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6871_input {
  color:#000000;
}
#u6871_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:138px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6871_input:disabled {
  color:grayText;
}
#u6871_ann {
  position:absolute;
  left:634px;
  top:539px;
  width:1px;
  height:1px;
}
#u6872 {
  position:absolute;
  left:663px;
  top:542px;
  width:74px;
  height:25px;
}
#u6872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6872_input {
  color:#333333;
}
#u6872_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:80px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6872_ann {
  position:absolute;
  left:730px;
  top:538px;
  width:1px;
  height:1px;
}
#u6873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u6874 {
  position:absolute;
  left:509px;
  top:506px;
  width:43px;
  height:16px;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6876 {
  position:absolute;
  left:652px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u6876_img.mouseOver {
}
#u6876.mouseOver {
}
#u6877 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:41px;
}
#u6878 {
  position:absolute;
  left:180px;
  top:98px;
  width:1120px;
  height:41px;
}
#u6879 {
  position:absolute;
  left:2px;
  top:12px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:3px;
}
#u6880 {
  position:absolute;
  left:180px;
  top:139px;
  width:1120px;
  height:3px;
}
#u6881 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6882 {
  position:absolute;
  left:195px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6883 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u6884 {
  position:absolute;
  left:274px;
  top:110px;
  width:27px;
  height:19px;
  font-size:16px;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6886 {
  position:absolute;
  left:312px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6887 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u6888 {
  position:absolute;
  left:387px;
  top:110px;
  width:27px;
  height:19px;
  font-size:16px;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6890 {
  position:absolute;
  left:425px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6892 {
  position:absolute;
  left:517px;
  top:894px;
  width:605px;
  height:113px;
}
#u6892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6892_input {
  color:#000000;
}
#u6892_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:611px;
  height:119px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6893 {
  position:absolute;
  left:517px;
  top:1036px;
  width:605px;
  height:113px;
}
#u6893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6893_input {
  color:#000000;
}
#u6893_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:611px;
  height:119px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u6894 {
  position:absolute;
  left:410px;
  top:197px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u6895 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u6896 {
  position:absolute;
  left:677px;
  top:197px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u6898 {
  position:absolute;
  left:896px;
  top:197px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6899 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6900 {
  position:absolute;
  left:608px;
  top:1373px;
  width:140px;
  height:35px;
}
#u6900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6900_input {
  color:#333333;
}
#u6900_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6900_ann {
  position:absolute;
  left:741px;
  top:1369px;
  width:1px;
  height:1px;
}
#u6901 {
  position:absolute;
  left:440px;
  top:1373px;
  width:140px;
  height:35px;
}
#u6901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6901_input {
  color:#333333;
}
#u6901_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:41px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6901_ann {
  position:absolute;
  left:573px;
  top:1369px;
  width:1px;
  height:1px;
}
