body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2027 {
  position:absolute;
  left:648px;
  top:64px;
  width:473px;
  height:954px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2029 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:744px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u2031 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:26px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u2033 {
  position:absolute;
  left:673px;
  top:192px;
  width:422px;
  height:13px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2035 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u2037 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2039 {
  position:absolute;
  left:673px;
  top:247px;
  width:422px;
  height:1px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:371px;
}
#u2042 {
  position:absolute;
  left:697px;
  top:283px;
  width:375px;
  height:370px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2043 {
  position:absolute;
  left:20px;
  top:80px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:45px;
}
#u2044 {
  position:absolute;
  left:724px;
  top:678px;
  width:335px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u2044_img.mouseDown {
}
#u2044.mouseDown {
  opacity:0.8;
}
#u2045 {
  position:absolute;
  left:0px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:45px;
}
#u2046 {
  position:absolute;
  left:724px;
  top:733px;
  width:335px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0079FE;
  line-height:20px;
}
#u2046_img.mouseDown {
}
#u2046.mouseDown {
}
#u2047 {
  position:absolute;
  left:0px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2048 {
  position:absolute;
  left:834px;
  top:307px;
  width:100px;
  height:100px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2050 {
  position:absolute;
  left:858px;
  top:329px;
  width:60px;
  height:60px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u2052 {
  position:absolute;
  left:848px;
  top:438px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u2054 {
  position:absolute;
  left:478px;
  top:690px;
  width:158px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2056 {
  position:absolute;
  left:636px;
  top:700px;
  width:88px;
  height:1px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u2058 {
  position:absolute;
  left:478px;
  top:745px;
  width:158px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2060 {
  position:absolute;
  left:636px;
  top:755px;
  width:88px;
  height:1px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:96px;
}
#u2062 {
  position:absolute;
  left:751px;
  top:514px;
  width:281px;
  height:96px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u2064 {
  position:absolute;
  left:450px;
  top:589px;
  width:136px;
  height:37px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:2px;
}
#u2066 {
  position:absolute;
  left:596px;
  top:599px;
  width:155px;
  height:1px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
