body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u365 {
  position:absolute;
  left:476px;
  top:99px;
  width:473px;
  height:954px;
}
#u366 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:742px;
}
#u367 {
  position:absolute;
  left:499px;
  top:204px;
  width:424px;
  height:742px;
}
#u368 {
  position:absolute;
  left:2px;
  top:363px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:47px;
}
#u369 {
  position:absolute;
  left:501px;
  top:228px;
  width:422px;
  height:47px;
}
#u370 {
  position:absolute;
  left:2px;
  top:16px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u371 {
  position:absolute;
  left:501px;
  top:202px;
  width:422px;
  height:26px;
}
#u372 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u373 {
  position:absolute;
  left:501px;
  top:228px;
  width:422px;
  height:45px;
}
#u374 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u375 {
  position:absolute;
  left:501px;
  top:235px;
  width:23px;
  height:31px;
}
#u376 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u377 {
  position:absolute;
  left:683px;
  top:238px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u380 {
  position:absolute;
  left:524px;
  top:319px;
  width:92px;
  height:65px;
}
#u381 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
}
#u382 {
  position:absolute;
  left:626px;
  top:322px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u384 {
  position:absolute;
  left:627px;
  top:362px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u386 {
  position:absolute;
  left:832px;
  top:364px;
  width:22px;
  height:20px;
}
#u387 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u388 {
  position:absolute;
  left:897px;
  top:360px;
  width:26px;
  height:24px;
}
#u389 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:854px;
  top:364px;
  width:43px;
  height:20px;
}
#u390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u390_input {
  color:#000000;
}
#u390_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
}
#u391 {
  position:absolute;
  left:500px;
  top:901px;
  width:300px;
  height:47px;
  text-align:right;
}
#u392 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:47px;
}
#u393 {
  position:absolute;
  left:800px;
  top:901px;
  width:122px;
  height:47px;
}
#u394 {
  position:absolute;
  left:2px;
  top:16px;
  width:118px;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u395 {
  position:absolute;
  left:915px;
  top:378px;
  width:80px;
  height:1px;
}
#u396 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u397 {
  position:absolute;
  left:995px;
  top:370px;
  width:284px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
  text-align:left;
}
#u398 {
  position:absolute;
  left:2px;
  top:3px;
  width:280px;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:2px;
}
#u399 {
  position:absolute;
  left:443px;
  top:924px;
  width:72px;
  height:1px;
}
#u400 {
  position:absolute;
  left:2px;
  top:-8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
}
#u401 {
  position:absolute;
  left:181px;
  top:909px;
  width:262px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
}
#u402 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u403 {
  position:absolute;
  left:922px;
  top:905px;
  width:96px;
  height:1px;
}
#u404 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:29px;
}
#u405 {
  position:absolute;
  left:663px;
  top:1073px;
  width:199px;
  height:29px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u406 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u407 {
  position:absolute;
  left:922px;
  top:953px;
  width:96px;
  height:1px;
}
#u408 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:83px;
}
#u409 {
  position:absolute;
  left:1018px;
  top:935px;
  width:376px;
  height:83px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u410 {
  position:absolute;
  left:2px;
  top:10px;
  width:372px;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u411 {
  position:absolute;
  left:393px;
  top:250px;
  width:108px;
  height:1px;
}
#u412 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u413 {
  position:absolute;
  left:299px;
  top:234px;
  width:94px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u414 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u415 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u415_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u415_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u417 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u418 {
  position:absolute;
  left:501px;
  top:275px;
  width:422px;
  height:1px;
}
#u419 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:5px;
}
#u420 {
  position:absolute;
  left:501px;
  top:391px;
  width:422px;
  height:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u421 {
  position:absolute;
  left:2px;
  top:-6px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u423 {
  position:absolute;
  left:526px;
  top:405px;
  width:92px;
  height:65px;
}
#u424 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u425 {
  position:absolute;
  left:628px;
  top:408px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u427 {
  position:absolute;
  left:628px;
  top:451px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u429 {
  position:absolute;
  left:841px;
  top:450px;
  width:22px;
  height:20px;
}
#u430 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u431 {
  position:absolute;
  left:906px;
  top:446px;
  width:26px;
  height:24px;
}
#u432 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  position:absolute;
  left:861px;
  top:450px;
  width:43px;
  height:20px;
}
#u433_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u433_input {
  color:#000000;
}
#u433_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:31px;
}
#u434 {
  position:absolute;
  left:501px;
  top:278px;
  width:422px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u435 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u437 {
  position:absolute;
  left:523px;
  top:529px;
  width:92px;
  height:65px;
}
#u438 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
}
#u439 {
  position:absolute;
  left:625px;
  top:532px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u441 {
  position:absolute;
  left:625px;
  top:575px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u443 {
  position:absolute;
  left:838px;
  top:574px;
  width:22px;
  height:20px;
}
#u444 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u445 {
  position:absolute;
  left:903px;
  top:570px;
  width:26px;
  height:24px;
}
#u446 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447 {
  position:absolute;
  left:860px;
  top:574px;
  width:43px;
  height:20px;
}
#u447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u447_input {
  color:#000000;
}
#u447_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:31px;
}
#u448 {
  position:absolute;
  left:501px;
  top:488px;
  width:422px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u449 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u450 {
  position:absolute;
  left:672px;
  top:293px;
  width:323px;
  height:1px;
}
#u451 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u452 {
  position:absolute;
  left:995px;
  top:275px;
  width:250px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u453 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u454 {
  position:absolute;
  left:408px;
  top:352px;
  width:108px;
  height:1px;
}
#u455 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u456 {
  position:absolute;
  left:312px;
  top:352px;
  width:96px;
  height:16px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u457 {
  position:absolute;
  left:2px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:2px;
}
#u458 {
  position:absolute;
  left:408px;
  top:394px;
  width:211px;
  height:1px;
}
#u459 {
  position:absolute;
  left:2px;
  top:-8px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:19px;
}
#u460 {
  position:absolute;
  left:242px;
  top:391px;
  width:166px;
  height:19px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u461 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u462 {
  position:absolute;
  left:405px;
  top:504px;
  width:108px;
  height:1px;
}
#u463 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
}
#u464 {
  position:absolute;
  left:242px;
  top:488px;
  width:163px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u465 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:65px;
}
#u467 {
  position:absolute;
  left:515px;
  top:669px;
  width:92px;
  height:65px;
}
#u468 {
  position:absolute;
  left:2px;
  top:24px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
}
#u469 {
  position:absolute;
  left:617px;
  top:672px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u471 {
  position:absolute;
  left:617px;
  top:715px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:52px;
}
#u473 {
  position:absolute;
  left:500px;
  top:607px;
  width:422px;
  height:52px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u474 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u475 {
  position:absolute;
  left:404px;
  top:623px;
  width:108px;
  height:1px;
}
#u476 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:80px;
}
#u477 {
  position:absolute;
  left:168px;
  top:607px;
  width:236px;
  height:80px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u478 {
  position:absolute;
  left:2px;
  top:16px;
  width:232px;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u479 {
  position:absolute;
  left:886px;
  top:243px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u481 {
  position:absolute;
  left:501px;
  top:285px;
  width:100px;
  height:16px;
}
#u482 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u483 {
  position:absolute;
  left:501px;
  top:344px;
  width:100px;
  height:16px;
}
#u484 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u485 {
  position:absolute;
  left:501px;
  top:430px;
  width:100px;
  height:16px;
}
#u486 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u487 {
  position:absolute;
  left:507px;
  top:497px;
  width:100px;
  height:16px;
}
#u488 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u489 {
  position:absolute;
  left:507px;
  top:554px;
  width:100px;
  height:16px;
}
#u490 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u491 {
  position:absolute;
  left:515px;
  top:917px;
  width:100px;
  height:16px;
}
#u492 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u491_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u493 {
  position:absolute;
  left:393px;
  top:292px;
  width:108px;
  height:1px;
}
#u494 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u495 {
  position:absolute;
  left:189px;
  top:276px;
  width:204px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u496 {
  position:absolute;
  left:2px;
  top:8px;
  width:200px;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u497 {
  position:absolute;
  left:416px;
  top:319px;
  width:108px;
  height:1px;
}
#u498 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u499 {
  position:absolute;
  left:320px;
  top:319px;
  width:96px;
  height:16px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u500 {
  position:absolute;
  left:2px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u501 {
  position:absolute;
  left:871px;
  top:333px;
  width:124px;
  height:1px;
}
#u502 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
}
#u503 {
  position:absolute;
  left:995px;
  top:316px;
  width:354px;
  height:44px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u504 {
  position:absolute;
  left:2px;
  top:6px;
  width:350px;
  word-wrap:break-word;
}
#u505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u505 {
  position:absolute;
  left:748px;
  top:936px;
  width:1px;
  height:137px;
}
#u506 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:29px;
}
#u507 {
  position:absolute;
  left:1018px;
  top:891px;
  width:199px;
  height:29px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u508 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u509 {
  position:absolute;
  left:915px;
  top:251px;
  width:80px;
  height:1px;
}
#u510 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u511 {
  position:absolute;
  left:995px;
  top:227px;
  width:250px;
  height:32px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u512 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
