body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1379px;
  height:955px;
}
#u3123 {
  position:absolute;
  left:0px;
  top:0px;
  width:1379px;
  height:955px;
}
#u3124 {
  position:absolute;
  left:2px;
  top:470px;
  width:1375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:269px;
}
#u3125 {
  position:absolute;
  left:160px;
  top:374px;
  width:212px;
  height:269px;
}
#u3126 {
  position:absolute;
  left:2px;
  top:126px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u3127 {
  position:absolute;
  left:215px;
  top:408px;
  width:100px;
  height:36px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#995700;
}
#u3128 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u3129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u3129 {
  position:absolute;
  left:236px;
  top:493px;
  width:60px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#995700;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u3131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:48px;
}
#u3131 {
  position:absolute;
  left:644px;
  top:719px;
  width:117px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3132 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u3131_ann {
  position:absolute;
  left:754px;
  top:715px;
  width:1px;
  height:1px;
}
#u3133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:140px;
}
#u3133 {
  position:absolute;
  left:509px;
  top:67px;
  width:361px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u3134 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u3133_ann {
  position:absolute;
  left:863px;
  top:63px;
  width:1px;
  height:1px;
}
#u3135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:364px;
}
#u3135 {
  position:absolute;
  left:498px;
  top:279px;
  width:400px;
  height:364px;
}
#u3136 {
  position:absolute;
  left:2px;
  top:174px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:56px;
}
#u3137 {
  position:absolute;
  left:498px;
  top:223px;
  width:400px;
  height:56px;
  font-size:32px;
  color:#FF0000;
}
#u3138 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u3137_ann {
  position:absolute;
  left:891px;
  top:219px;
  width:1px;
  height:1px;
}
#u3139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u3139 {
  position:absolute;
  left:774px;
  top:295px;
  width:61px;
  height:27px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u3141 {
  position:absolute;
  left:774px;
  top:374px;
  width:109px;
  height:19px;
  font-size:16px;
}
#u3142 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u3143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u3143 {
  position:absolute;
  left:774px;
  top:429px;
  width:109px;
  height:19px;
  font-size:16px;
}
#u3144 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u3145 {
  position:absolute;
  left:774px;
  top:499px;
  width:109px;
  height:19px;
  font-size:16px;
}
#u3146 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u3147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u3147 {
  position:absolute;
  left:533px;
  top:295px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u3148 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u3149 {
  position:absolute;
  left:652px;
  top:295px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u3150 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:46px;
}
#u3151 {
  position:absolute;
  left:521px;
  top:359px;
  width:66px;
  height:46px;
}
#u3152 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:46px;
}
#u3153 {
  position:absolute;
  left:521px;
  top:422px;
  width:66px;
  height:46px;
}
#u3154 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:46px;
}
#u3155 {
  position:absolute;
  left:521px;
  top:489px;
  width:66px;
  height:46px;
}
#u3156 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:174px;
}
#u3157 {
  position:absolute;
  left:118px;
  top:164px;
  width:297px;
  height:174px;
}
#u3158 {
  position:absolute;
  left:2px;
  top:79px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3157_ann {
  position:absolute;
  left:408px;
  top:160px;
  width:1px;
  height:1px;
}
#u3159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u3159 {
  position:absolute;
  left:656px;
  top:374px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u3160 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u3161 {
  position:absolute;
  left:656px;
  top:431px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u3162 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u3163 {
  position:absolute;
  left:657px;
  top:503px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u3164 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u3165 {
  position:absolute;
  left:985px;
  top:470px;
  width:101px;
  height:57px;
}
#u3166 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u3167 {
  position:absolute;
  left:1112px;
  top:491px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u3169 {
  position:absolute;
  left:985px;
  top:537px;
  width:101px;
  height:57px;
}
#u3170 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3171 {
  position:absolute;
  left:1112px;
  top:558px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u3172 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u3173 {
  position:absolute;
  left:985px;
  top:431px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u3174 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3173_ann {
  position:absolute;
  left:1094px;
  top:427px;
  width:1px;
  height:1px;
}
