body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1768px;
  height:1163px;
}
#u3081 {
  position:absolute;
  left:-9px;
  top:15px;
  width:1768px;
  height:1163px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:574px;
  width:1764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:269px;
}
#u3083 {
  position:absolute;
  left:584px;
  top:315px;
  width:212px;
  height:269px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:126px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u3085 {
  position:absolute;
  left:636px;
  top:382px;
  width:100px;
  height:36px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#995700;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u3085_ann {
  position:absolute;
  left:729px;
  top:378px;
  width:1px;
  height:1px;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u3087 {
  position:absolute;
  left:662px;
  top:452px;
  width:60px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#995700;
}
#u3088 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u3087_ann {
  position:absolute;
  left:715px;
  top:448px;
  width:1px;
  height:1px;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:48px;
}
#u3089 {
  position:absolute;
  left:632px;
  top:700px;
  width:117px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3090 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u3089_ann {
  position:absolute;
  left:742px;
  top:696px;
  width:1px;
  height:1px;
}
#u3091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:48px;
}
#u3091 {
  position:absolute;
  left:632px;
  top:701px;
  width:117px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3092 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u3091_ann {
  position:absolute;
  left:742px;
  top:697px;
  width:1px;
  height:1px;
}
#u3093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:53px;
}
#u3093 {
  position:absolute;
  left:61px;
  top:133px;
  width:247px;
  height:53px;
}
#u3094 {
  position:absolute;
  left:2px;
  top:18px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:174px;
}
#u3095 {
  position:absolute;
  left:542px;
  top:101px;
  width:297px;
  height:174px;
}
#u3096 {
  position:absolute;
  left:2px;
  top:79px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3095_ann {
  position:absolute;
  left:832px;
  top:97px;
  width:1px;
  height:1px;
}
#u3097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3097 {
  position:absolute;
  left:990px;
  top:297px;
  width:76px;
  height:64px;
}
#u3098 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3099 {
  position:absolute;
  left:214px;
  top:167px;
  width:76px;
  height:64px;
}
#u3100 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3101 {
  position:absolute;
  left:934px;
  top:452px;
  width:76px;
  height:64px;
}
#u3102 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3103 {
  position:absolute;
  left:953px;
  top:579px;
  width:76px;
  height:64px;
}
#u3104 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3105 {
  position:absolute;
  left:126px;
  top:340px;
  width:76px;
  height:64px;
}
#u3106 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3107 {
  position:absolute;
  left:1170px;
  top:443px;
  width:76px;
  height:64px;
}
#u3108 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3109 {
  position:absolute;
  left:479px;
  top:514px;
  width:76px;
  height:64px;
}
#u3110 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3111 {
  position:absolute;
  left:371px;
  top:661px;
  width:76px;
  height:64px;
}
#u3112 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3113 {
  position:absolute;
  left:232px;
  top:520px;
  width:76px;
  height:64px;
}
#u3114 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3115 {
  position:absolute;
  left:155px;
  top:684px;
  width:76px;
  height:64px;
}
#u3116 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3117 {
  position:absolute;
  left:934px;
  top:175px;
  width:76px;
  height:64px;
}
#u3118 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3119 {
  position:absolute;
  left:1170px;
  top:678px;
  width:76px;
  height:64px;
}
#u3120 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u3121 {
  position:absolute;
  left:479px;
  top:325px;
  width:76px;
  height:64px;
}
#u3122 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
