body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1247px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1925 {
  position:absolute;
  left:435px;
  top:46px;
  width:473px;
  height:954px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u1927 {
  position:absolute;
  left:460px;
  top:149px;
  width:422px;
  height:744px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u1929 {
  position:absolute;
  left:460px;
  top:149px;
  width:422px;
  height:26px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u1931 {
  position:absolute;
  left:460px;
  top:174px;
  width:422px;
  height:13px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u1933 {
  position:absolute;
  left:460px;
  top:186px;
  width:422px;
  height:1px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u1935 {
  position:absolute;
  left:460px;
  top:186px;
  width:422px;
  height:1px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u1937 {
  position:absolute;
  left:468px;
  top:187px;
  width:22px;
  height:30px;
  font-size:36px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u1939 {
  position:absolute;
  left:460px;
  top:229px;
  width:422px;
  height:1px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u1941 {
  position:absolute;
  left:626px;
  top:190px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u1943 {
  position:absolute;
  left:166px;
  top:198px;
  width:223px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u1945 {
  position:absolute;
  left:389px;
  top:208px;
  width:88px;
  height:1px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:73px;
}
#u1947 {
  position:absolute;
  left:972px;
  top:861px;
  width:282px;
  height:73px;
  font-size:12px;
  line-height:16px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u1949 {
  position:absolute;
  left:874px;
  top:871px;
  width:88px;
  height:1px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u1951 {
  position:absolute;
  left:478px;
  top:254px;
  width:71px;
  height:16px;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u1953 {
  position:absolute;
  left:580px;
  top:254px;
  width:71px;
  height:16px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u1955 {
  position:absolute;
  left:681px;
  top:254px;
  width:85px;
  height:16px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1957 {
  position:absolute;
  left:468px;
  top:329px;
  width:378px;
  height:42px;
}
#u1957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1957_input {
  color:#000000;
}
#u1957_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:384px;
  height:48px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u1958 {
  position:absolute;
  left:797px;
  top:254px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1960 {
  position:absolute;
  left:465px;
  top:421px;
  width:380px;
  height:47px;
}
#u1960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1960_input {
  color:#000000;
}
#u1960_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:386px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1961 {
  position:absolute;
  left:462px;
  top:478px;
  width:380px;
  height:47px;
}
#u1961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1961_input {
  color:#000000;
}
#u1961_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:386px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1962 {
  position:absolute;
  left:462px;
  top:592px;
  width:380px;
  height:47px;
}
#u1962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1962_input {
  color:#000000;
}
#u1962_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:386px;
  height:53px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1963 {
  position:absolute;
  left:462px;
  top:544px;
  width:90px;
  height:22px;
}
#u1963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1963_input {
  color:#000000;
}
#u1963_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1963_input:disabled {
  color:grayText;
}
#u1964 {
  position:absolute;
  left:570px;
  top:544px;
}
#u1964_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1965_input {
  color:#000000;
}
#u1965_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1965_input:disabled {
  color:grayText;
}
#u1964_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1966_input {
  color:#000000;
}
#u1966_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1966_input:disabled {
  color:grayText;
}
#u1964_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1967_input {
  color:#000000;
}
#u1967_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1967_input:disabled {
  color:grayText;
}
#u1964_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1968_input {
  color:#000000;
}
#u1968_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1968_input:disabled {
  color:grayText;
}
#u1964_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1969_input {
  color:#000000;
}
#u1969_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1969_input:disabled {
  color:grayText;
}
#u1964_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1970_input {
  color:#000000;
}
#u1970_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1970_input:disabled {
  color:grayText;
}
#u1964_state6 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u1971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1971_input {
  color:#000000;
}
#u1971_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1971_input:disabled {
  color:grayText;
}
#u1964_state7 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1972_input {
  color:#000000;
}
#u1972_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1972_input:disabled {
  color:grayText;
}
#u1964_state8 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1973_input {
  color:#000000;
}
#u1973_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1973_input:disabled {
  color:grayText;
}
#u1964_state9 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u1974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1974_input {
  color:#000000;
}
#u1974_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1974_input:disabled {
  color:grayText;
}
#u1964_state10 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state10_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1975_input {
  color:#000000;
}
#u1975_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1975_input:disabled {
  color:grayText;
}
#u1964_state11 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state11_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1976_input {
  color:#000000;
}
#u1976_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1976_input:disabled {
  color:grayText;
}
#u1964_state12 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state12_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1977_input {
  color:#000000;
}
#u1977_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1977_input:disabled {
  color:grayText;
}
#u1964_state13 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state13_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u1978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1978_input {
  color:#000000;
}
#u1978_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1978_input:disabled {
  color:grayText;
}
#u1964_state14 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state14_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1979_input {
  color:#000000;
}
#u1979_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1979_input:disabled {
  color:grayText;
}
#u1964_state15 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state15_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1980_input {
  color:#000000;
}
#u1980_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1980_input:disabled {
  color:grayText;
}
#u1964_state16 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state16_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1981_input {
  color:#000000;
}
#u1981_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1981_input:disabled {
  color:grayText;
}
#u1964_state17 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state17_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1982_input {
  color:#000000;
}
#u1982_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1982_input:disabled {
  color:grayText;
}
#u1964_state18 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state18_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1983_input {
  color:#000000;
}
#u1983_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1983_input:disabled {
  color:grayText;
}
#u1964_state19 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state19_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u1984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1984_input {
  color:#000000;
}
#u1984_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1984_input:disabled {
  color:grayText;
}
#u1964_state20 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state20_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1985_input {
  color:#000000;
}
#u1985_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1985_input:disabled {
  color:grayText;
}
#u1964_state21 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state21_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1986_input {
  color:#000000;
}
#u1986_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1986_input:disabled {
  color:grayText;
}
#u1964_state22 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state22_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1987_input {
  color:#000000;
}
#u1987_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1987_input:disabled {
  color:grayText;
}
#u1964_state23 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state23_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1988_input {
  color:#000000;
}
#u1988_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1988_input:disabled {
  color:grayText;
}
#u1964_state24 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state24_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1989_input {
  color:#000000;
}
#u1989_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1989_input:disabled {
  color:grayText;
}
#u1964_state25 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state25_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1990_input {
  color:#000000;
}
#u1990_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1990_input:disabled {
  color:grayText;
}
#u1964_state26 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state26_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1991_input {
  color:#000000;
}
#u1991_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1991_input:disabled {
  color:grayText;
}
#u1964_state27 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state27_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1992_input {
  color:#000000;
}
#u1992_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1992_input:disabled {
  color:grayText;
}
#u1964_state28 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state28_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1993_input {
  color:#000000;
}
#u1993_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1993_input:disabled {
  color:grayText;
}
#u1964_state29 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state29_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1994_input {
  color:#000000;
}
#u1994_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1994_input:disabled {
  color:grayText;
}
#u1964_state30 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state30_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u1995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1995_input {
  color:#000000;
}
#u1995_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:116px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1995_input:disabled {
  color:grayText;
}
#u1964_state31 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state31_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
}
#u1996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1996_input {
  color:#000000;
}
#u1996_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:141px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1996_input:disabled {
  color:grayText;
}
#u1964_state32 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1964_state32_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1997_input {
  color:#000000;
}
#u1997_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1997_input:disabled {
  color:grayText;
}
#u1998 {
  position:absolute;
  left:674px;
  top:544px;
  width:168px;
  height:22px;
}
#u1998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1998_input {
  color:#000000;
}
#u1998_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:174px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1998_input:disabled {
  color:grayText;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:24px;
}
#u1999 {
  position:absolute;
  left:-7px;
  top:544px;
  width:352px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u2001 {
  position:absolute;
  left:345px;
  top:555px;
  width:117px;
  height:1px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u2003 {
  position:absolute;
  left:222px;
  top:590px;
  width:120px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u2005 {
  position:absolute;
  left:342px;
  top:601px;
  width:117px;
  height:1px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u2007 {
  position:absolute;
  left:222px;
  top:490px;
  width:120px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u2009 {
  position:absolute;
  left:342px;
  top:501px;
  width:117px;
  height:1px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u2011 {
  position:absolute;
  left:228px;
  top:433px;
  width:120px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u2013 {
  position:absolute;
  left:348px;
  top:444px;
  width:117px;
  height:1px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015 {
  position:absolute;
  left:460px;
  top:842px;
  width:422px;
  height:51px;
}
#u2015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:51px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2015_input {
  color:#333333;
}
#u2015_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:428px;
  height:57px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2016 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u2016_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2016_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2018 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u2019 {
  position:absolute;
  left:468px;
  top:303px;
  width:71px;
  height:16px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u2021 {
  position:absolute;
  left:465px;
  top:395px;
  width:71px;
  height:16px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u2023 {
  position:absolute;
  left:240px;
  top:347px;
  width:120px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u2025 {
  position:absolute;
  left:360px;
  top:358px;
  width:117px;
  height:1px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
