body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2880 {
  position:absolute;
  left:648px;
  top:64px;
  width:473px;
  height:954px;
}
#u2881 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2882 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:744px;
}
#u2883 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u2884 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:26px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u2886 {
  position:absolute;
  left:673px;
  top:192px;
  width:422px;
  height:13px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2888 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u2890 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2892 {
  position:absolute;
  left:673px;
  top:247px;
  width:422px;
  height:1px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u2895 {
  position:absolute;
  left:697px;
  top:283px;
  width:375px;
  height:250px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2896 {
  position:absolute;
  left:20px;
  top:80px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2897 {
  position:absolute;
  left:834px;
  top:307px;
  width:100px;
  height:100px;
}
#u2898 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2899 {
  position:absolute;
  left:858px;
  top:329px;
  width:60px;
  height:60px;
}
#u2900 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u2901 {
  position:absolute;
  left:852px;
  top:433px;
  width:73px;
  height:63px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2902 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u2903 {
  position:absolute;
  left:683px;
  top:205px;
  width:22px;
  height:30px;
  font-size:28px;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u2905 {
  position:absolute;
  left:500px;
  top:211px;
  width:104px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2906 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2907 {
  position:absolute;
  left:604px;
  top:221px;
  width:88px;
  height:1px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
