body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1385 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u1387 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u1389 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:40px;
}
#u1391 {
  position:absolute;
  left:525px;
  top:229px;
  width:422px;
  height:40px;
  font-size:16px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:10px;
  width:418px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
}
#u1393 {
  position:absolute;
  left:536px;
  top:279px;
  width:99px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u1395 {
  position:absolute;
  left:536px;
  top:307px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1395_img.mouseOver {
}
#u1395.mouseOver {
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
}
#u1397 {
  position:absolute;
  left:536px;
  top:336px;
  width:253px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1397_img.mouseOver {
}
#u1397.mouseOver {
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u1399 {
  position:absolute;
  left:536px;
  top:365px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1399_img.mouseOver {
}
#u1399.mouseOver {
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u1401 {
  position:absolute;
  left:444px;
  top:316px;
  width:92px;
  height:1px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:38px;
}
#u1403 {
  position:absolute;
  left:118px;
  top:296px;
  width:326px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u1405 {
  position:absolute;
  left:536px;
  top:231px;
  width:23px;
  height:31px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u1407 {
  position:absolute;
  left:260px;
  top:236px;
  width:110px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:2px;
}
#u1409 {
  position:absolute;
  left:356px;
  top:247px;
  width:190px;
  height:1px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:-8px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
