body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:767px;
}
#u119 {
  position:absolute;
  left:291px;
  top:10px;
  width:404px;
  height:767px;
}
#u120 {
  position:absolute;
  left:2px;
  top:376px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:63px;
}
#u121 {
  position:absolute;
  left:291px;
  top:777px;
  width:45px;
  height:63px;
}
#u122 {
  position:absolute;
  left:2px;
  top:24px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u123 {
  position:absolute;
  left:369px;
  top:801px;
  width:57px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u125 {
  position:absolute;
  left:479px;
  top:801px;
  width:57px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u127 {
  position:absolute;
  left:347px;
  top:798px;
  width:16px;
  height:23px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u129 {
  position:absolute;
  left:453px;
  top:798px;
  width:16px;
  height:23px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:54px;
}
#u131 {
  position:absolute;
  left:442px;
  top:777px;
  width:1px;
  height:53px;
}
#u132 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:54px;
}
#u133 {
  position:absolute;
  left:569px;
  top:777px;
  width:1px;
  height:53px;
}
#u134 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u135 {
  position:absolute;
  left:570px;
  top:784px;
  width:126px;
  height:40px;
  font-size:14px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:2px;
}
#u137 {
  position:absolute;
  left:660px;
  top:803px;
  width:122px;
  height:1px;
}
#u138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:88px;
}
#u139 {
  position:absolute;
  left:782px;
  top:760px;
  width:398px;
  height:88px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u141 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-113.5px;
  visibility:hidden;
}
#u141_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u141_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:227px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:227px;
}
#u144 {
  position:absolute;
  left:2px;
  top:106px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u145 {
  position:absolute;
  left:111px;
  top:12px;
  width:72px;
  height:23px;
  font-size:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u147 {
  position:absolute;
  left:0px;
  top:44px;
  width:300px;
  height:1px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u149 {
  position:absolute;
  left:115px;
  top:55px;
  width:40px;
  height:40px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
}
#u151 {
  position:absolute;
  left:14px;
  top:104px;
  width:164px;
  height:19px;
  font-size:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:2px;
}
#u153 {
  position:absolute;
  left:14px;
  top:130px;
  width:253px;
  height:1px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u155 {
  position:absolute;
  left:14px;
  top:141px;
  width:230px;
  height:16px;
  color:#868686;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u157 {
  position:absolute;
  left:0px;
  top:178px;
  width:300px;
  height:1px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u159 {
  position:absolute;
  left:150px;
  top:179px;
  width:1px;
  height:48px;
}
#u160 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u161 {
  position:absolute;
  left:204px;
  top:195px;
  width:29px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u163 {
  position:absolute;
  left:61px;
  top:195px;
  width:29px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
