body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u5813 {
  position:absolute;
  left:434px;
  top:21px;
  width:473px;
  height:954px;
}
#u5814 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u5815 {
  position:absolute;
  left:459px;
  top:124px;
  width:422px;
  height:744px;
}
#u5816 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u5817 {
  position:absolute;
  left:459px;
  top:124px;
  width:422px;
  height:26px;
}
#u5818 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u5819 {
  position:absolute;
  left:459px;
  top:149px;
  width:422px;
  height:13px;
}
#u5820 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u5821 {
  position:absolute;
  left:459px;
  top:161px;
  width:422px;
  height:1px;
}
#u5822 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:41px;
}
#u5823 {
  position:absolute;
  left:459px;
  top:161px;
  width:422px;
  height:41px;
  font-size:18px;
}
#u5824 {
  position:absolute;
  left:2px;
  top:10px;
  width:418px;
  word-wrap:break-word;
}
#u5825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u5825 {
  position:absolute;
  left:466px;
  top:160px;
  width:22px;
  height:42px;
  font-size:36px;
}
#u5826 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u5827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u5827 {
  position:absolute;
  left:459px;
  top:204px;
  width:422px;
  height:1px;
}
#u5828 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5829 {
  position:absolute;
  left:473px;
  top:228px;
  width:395px;
  height:58px;
}
#u5829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:58px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5829_input {
  color:#000000;
}
#u5829_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:64px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5830 {
  position:absolute;
  left:473px;
  top:314px;
  width:395px;
  height:58px;
}
#u5830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:58px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5830_input {
  color:#000000;
}
#u5830_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:64px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5831 {
  position:absolute;
  left:459px;
  top:819px;
  width:422px;
  height:49px;
}
#u5831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:49px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5831_input {
  color:#333333;
}
#u5831_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:428px;
  height:55px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5832 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u5832_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5832_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u5833 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5834 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5833_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u5835 {
  position:absolute;
  left:967px;
  top:819px;
  width:300px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:16px;
}
#u5836 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:2px;
}
#u5837 {
  position:absolute;
  left:881px;
  top:835px;
  width:86px;
  height:1px;
}
#u5838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
