body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:588px;
}
#u93 {
  position:absolute;
  left:236px;
  top:361px;
  width:418px;
  height:588px;
}
#u94 {
  position:absolute;
  left:2px;
  top:286px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:64px;
}
#u95 {
  position:absolute;
  left:237px;
  top:96px;
  width:759px;
  height:64px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  white-space:nowrap;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:50px;
}
#u97 {
  position:absolute;
  left:236px;
  top:311px;
  width:415px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:34px;
}
#u99 {
  position:absolute;
  left:246px;
  top:318px;
  width:20px;
  height:34px;
  color:#1E1E1E;
}
#u100 {
  position:absolute;
  left:2px;
  top:9px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102 {
  position:absolute;
  left:412px;
  top:292px;
  width:20px;
  height:20px;
  overflow:hidden;
}
#u102_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u102_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u102_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:21px;
}
#u103 {
  position:absolute;
  left:236px;
  top:292px;
  width:415px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u105 {
  position:absolute;
  left:41px;
  top:325px;
  width:92px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:2px;
}
#u107 {
  position:absolute;
  left:137px;
  top:335px;
  width:112px;
  height:1px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u109 {
  position:absolute;
  left:751px;
  top:294px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u109_ann {
  position:absolute;
  left:1044px;
  top:290px;
  width:1px;
  height:1px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u111 {
  position:absolute;
  left:400px;
  top:255px;
  width:57px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u113 {
  position:absolute;
  left:888px;
  top:255px;
  width:71px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u115 {
  position:absolute;
  left:881px;
  top:503px;
  width:57px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u117 {
  position:absolute;
  left:881px;
  top:554px;
  width:65px;
  height:50px;
}
#u118 {
  position:absolute;
  left:2px;
  top:17px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
