body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1585px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u803 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u804 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u805 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u806 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u807 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u808 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u809 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:45px;
}
#u810 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u811 {
  position:absolute;
  left:678px;
  top:241px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u813 {
  position:absolute;
  left:525px;
  top:272px;
  width:422px;
  height:1px;
}
#u814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u815 {
  position:absolute;
  left:529px;
  top:229px;
  width:32px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u817 {
  position:absolute;
  left:431px;
  top:256px;
  width:108px;
  height:1px;
}
#u818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
}
#u819 {
  position:absolute;
  left:223px;
  top:221px;
  width:208px;
  height:35px;
  font-size:14px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u820 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:58px;
}
#u821 {
  position:absolute;
  left:525px;
  top:336px;
  width:261px;
  height:58px;
}
#u822 {
  position:absolute;
  left:2px;
  top:21px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  position:absolute;
  left:536px;
  top:345px;
  width:240px;
  height:41px;
}
#u823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u823_input {
  color:#000000;
}
#u823_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:246px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:58px;
}
#u824 {
  position:absolute;
  left:783px;
  top:332px;
  width:161px;
  height:58px;
  font-size:18px;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:76px;
}
#u826 {
  position:absolute;
  left:1032px;
  top:345px;
  width:553px;
  height:76px;
  font-size:14px;
  text-align:left;
  line-height:16px;
}
#u827 {
  position:absolute;
  left:2px;
  top:14px;
  width:549px;
  word-wrap:break-word;
}
#u828 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u828_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u828_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u831 {
  position:absolute;
  left:793px;
  top:334px;
  width:154px;
  height:58px;
  font-size:18px;
  color:#FFFFFF;
}
#u832 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u833 {
  position:absolute;
  left:947px;
  top:372px;
  width:85px;
  height:1px;
}
#u834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835 {
  position:absolute;
  left:526px;
  top:898px;
  width:419px;
  height:49px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:49px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u835_input {
  color:#333333;
}
#u835_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:425px;
  height:55px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u836 {
  position:absolute;
  left:531px;
  top:299px;
  width:225px;
  height:16px;
  color:#999999;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:119px;
}
#u838 {
  position:absolute;
  left:1029px;
  top:888px;
  width:405px;
  height:119px;
  text-align:left;
  line-height:16px;
}
#u839 {
  position:absolute;
  left:2px;
  top:12px;
  width:401px;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u840 {
  position:absolute;
  left:944px;
  top:920px;
  width:85px;
  height:1px;
}
#u841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
