body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u4675 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u4676 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u4677 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u4678 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u4679 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u4680 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u4681 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:13px;
}
#u4682 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u4683 {
  position:absolute;
  left:525px;
  top:240px;
  width:422px;
  height:1px;
}
#u4684 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u4685 {
  position:absolute;
  left:525px;
  top:235px;
  width:422px;
  height:45px;
}
#u4686 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u4687 {
  position:absolute;
  left:684px;
  top:248px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u4688 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u4689 {
  position:absolute;
  left:525px;
  top:279px;
  width:422px;
  height:1px;
}
#u4690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u4691 {
  position:absolute;
  left:529px;
  top:236px;
  width:32px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u4692 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
}
#u4693 {
  position:absolute;
  left:306px;
  top:241px;
  width:106px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u4695 {
  position:absolute;
  left:412px;
  top:252px;
  width:117px;
  height:1px;
}
#u4696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:644px;
}
#u4697 {
  position:absolute;
  left:535px;
  top:300px;
  width:400px;
  height:644px;
}
#u4698 {
  position:absolute;
  left:2px;
  top:314px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:152px;
}
#u4699 {
  position:absolute;
  left:547px;
  top:314px;
  width:381px;
  height:152px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:73px;
}
#u4701 {
  position:absolute;
  left:555px;
  top:568px;
  width:366px;
  height:73px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0080FF;
}
#u4702 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u4703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u4703 {
  position:absolute;
  left:418px;
  top:920px;
  width:117px;
  height:1px;
}
#u4704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:159px;
}
#u4705 {
  position:absolute;
  left:131px;
  top:525px;
  width:307px;
  height:159px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u4707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:2px;
}
#u4707 {
  position:absolute;
  left:357px;
  top:579px;
  width:198px;
  height:1px;
}
#u4708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4709 {
  position:absolute;
  left:535px;
  top:896px;
  width:400px;
  height:48px;
}
#u4709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4709_input {
  color:#333333;
}
#u4709_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4710 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u4710_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4710_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u4711 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4712 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4711_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u4713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:84px;
}
#u4713 {
  position:absolute;
  left:29px;
  top:896px;
  width:389px;
  height:84px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:16px;
}
#u4714 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u4715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
}
#u4715 {
  position:absolute;
  left:175px;
  top:335px;
  width:255px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4716 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u4717 {
  position:absolute;
  left:430px;
  top:346px;
  width:117px;
  height:1px;
}
#u4718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:116px;
}
#u4719 {
  position:absolute;
  left:555px;
  top:662px;
  width:366px;
  height:116px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u4720 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
