body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u6269 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u6270 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u6271 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u6272 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u6273 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u6274 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:108px;
}
#u6275 {
  position:absolute;
  left:525px;
  top:272px;
  width:422px;
  height:108px;
}
#u6276 {
  position:absolute;
  left:2px;
  top:46px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u6277 {
  position:absolute;
  left:569px;
  top:283px;
  width:41px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u6278 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6279 {
  position:absolute;
  left:643px;
  top:282px;
  width:298px;
  height:41px;
}
#u6279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6279_input {
  color:#000000;
}
#u6279_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:304px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u6280 {
  position:absolute;
  left:525px;
  top:326px;
  width:422px;
  height:1px;
}
#u6281 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u6282 {
  position:absolute;
  left:907px;
  top:292px;
  width:21px;
  height:22px;
}
#u6283 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u6284 {
  position:absolute;
  left:569px;
  top:337px;
  width:41px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u6285 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6286 {
  position:absolute;
  left:643px;
  top:333px;
  width:251px;
  height:41px;
}
#u6286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6286_input {
  color:#000000;
}
#u6286_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:257px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u6287 {
  position:absolute;
  left:864px;
  top:347px;
  width:21px;
  height:22px;
}
#u6288 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6289 {
  position:absolute;
  left:899px;
  top:337px;
  width:42px;
  height:33px;
  overflow:hidden;
}
#u6289_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6289_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u6290 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u6291 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6289_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6289_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u6292 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u6293 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u6294 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:45px;
}
#u6295 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u6296 {
  position:absolute;
  left:712px;
  top:241px;
  width:41px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u6297 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6298 {
  position:absolute;
  left:539px;
  top:398px;
  width:395px;
  height:40px;
  overflow:hidden;
}
#u6298_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6298_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:40px;
}
#u6299 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6300 {
  position:absolute;
  left:2px;
  top:8px;
  width:409px;
  word-wrap:break-word;
}
#u6298_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6298_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:40px;
}
#u6301 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6302 {
  position:absolute;
  left:2px;
  top:8px;
  width:409px;
  word-wrap:break-word;
}
#u6303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u6303 {
  position:absolute;
  left:869px;
  top:454px;
  width:65px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6304 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u6305 {
  position:absolute;
  left:941px;
  top:358px;
  width:101px;
  height:1px;
}
#u6306 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u6307 {
  position:absolute;
  left:941px;
  top:418px;
  width:101px;
  height:1px;
}
#u6308 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u6309 {
  position:absolute;
  left:934px;
  top:464px;
  width:108px;
  height:1px;
}
#u6310 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:18px;
}
#u6311 {
  position:absolute;
  left:1052px;
  top:337px;
  width:283px;
  height:18px;
  font-size:14px;
  color:#00ABFF;
  line-height:16px;
}
#u6312 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u6313 {
  position:absolute;
  left:525px;
  top:272px;
  width:422px;
  height:1px;
}
#u6314 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u6315 {
  position:absolute;
  left:527px;
  top:281px;
  width:32px;
  height:30px;
}
#u6316 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u6317 {
  position:absolute;
  left:527px;
  top:335px;
  width:32px;
  height:38px;
}
#u6318 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:2px;
}
#u6319 {
  position:absolute;
  left:401px;
  top:462px;
  width:128px;
  height:1px;
}
#u6320 {
  position:absolute;
  left:2px;
  top:-8px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u6321 {
  position:absolute;
  left:1042px;
  top:333px;
  width:300px;
  height:26px;
  font-size:12px;
  color:#00ABFF;
}
#u6322 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u6323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:86px;
}
#u6323 {
  position:absolute;
  left:1042px;
  top:365px;
  width:440px;
  height:86px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u6324 {
  position:absolute;
  left:2px;
  top:3px;
  width:436px;
  word-wrap:break-word;
}
#u6325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u6325 {
  position:absolute;
  left:300px;
  top:449px;
  width:115px;
  height:26px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
}
#u6326 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u6327 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u6327_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6327_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u6328 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6329 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6328_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u6330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u6330 {
  position:absolute;
  left:1042px;
  top:461px;
  width:300px;
  height:26px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
}
#u6331 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u6332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u6332 {
  position:absolute;
  left:529px;
  top:229px;
  width:32px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u6333 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u6334 {
  position:absolute;
  left:431px;
  top:256px;
  width:108px;
  height:1px;
}
#u6335 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u6336 {
  position:absolute;
  left:331px;
  top:241px;
  width:100px;
  height:34px;
  font-size:12px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u6337 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u6338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:108px;
}
#u6338 {
  position:absolute;
  left:64px;
  top:34px;
  width:309px;
  height:98px;
}
#u6339 {
  position:absolute;
  left:10px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u6340 {
  position:absolute;
  left:539px;
  top:454px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6341 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
