body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3016 {
  position:absolute;
  left:460px;
  top:63px;
  width:473px;
  height:954px;
}
#u3017 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u3018 {
  position:absolute;
  left:485px;
  top:166px;
  width:422px;
  height:744px;
}
#u3019 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u3020 {
  position:absolute;
  left:485px;
  top:166px;
  width:422px;
  height:26px;
}
#u3021 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u3022 {
  position:absolute;
  left:485px;
  top:191px;
  width:422px;
  height:13px;
}
#u3023 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u3024 {
  position:absolute;
  left:485px;
  top:203px;
  width:422px;
  height:1px;
}
#u3025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u3026 {
  position:absolute;
  left:485px;
  top:203px;
  width:422px;
  height:1px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u3028 {
  position:absolute;
  left:637px;
  top:207px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u3030 {
  position:absolute;
  left:500px;
  top:202px;
  width:22px;
  height:30px;
  font-size:28px;
}
#u3031 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u3032 {
  position:absolute;
  left:317px;
  top:208px;
  width:104px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:2px;
}
#u3034 {
  position:absolute;
  left:398px;
  top:218px;
  width:111px;
  height:1px;
}
#u3035 {
  position:absolute;
  left:2px;
  top:-8px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:251px;
}
#u3036 {
  position:absolute;
  left:557px;
  top:367px;
  width:279px;
  height:251px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:118px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u3038 {
  position:absolute;
  left:633px;
  top:645px;
  width:127px;
  height:16px;
}
#u3039 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u3040 {
  position:absolute;
  left:222px;
  top:475px;
  width:185px;
  height:35px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u3042 {
  position:absolute;
  left:398px;
  top:492px;
  width:176px;
  height:1px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u3044 {
  position:absolute;
  left:282px;
  top:329px;
  width:150px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u3045 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
