body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1585px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u6342 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u6343 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u6344 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u6345 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u6346 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u6347 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u6348 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:45px;
}
#u6349 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u6350 {
  position:absolute;
  left:678px;
  top:241px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u6351 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u6352 {
  position:absolute;
  left:525px;
  top:272px;
  width:422px;
  height:1px;
}
#u6353 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u6354 {
  position:absolute;
  left:529px;
  top:229px;
  width:32px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u6355 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u6356 {
  position:absolute;
  left:431px;
  top:256px;
  width:108px;
  height:1px;
}
#u6357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
}
#u6358 {
  position:absolute;
  left:223px;
  top:221px;
  width:208px;
  height:35px;
  font-size:14px;
  color:#00ABFF;
  text-align:left;
  line-height:16px;
}
#u6359 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u6360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:58px;
}
#u6360 {
  position:absolute;
  left:525px;
  top:274px;
  width:422px;
  height:58px;
}
#u6361 {
  position:absolute;
  left:2px;
  top:21px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6362 {
  position:absolute;
  left:539px;
  top:283px;
  width:395px;
  height:41px;
}
#u6362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6362_input {
  color:#000000;
}
#u6362_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u6363 {
  position:absolute;
  left:905px;
  top:293px;
  width:21px;
  height:22px;
}
#u6364 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:58px;
}
#u6365 {
  position:absolute;
  left:525px;
  top:336px;
  width:261px;
  height:58px;
}
#u6366 {
  position:absolute;
  left:2px;
  top:21px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6367 {
  position:absolute;
  left:536px;
  top:345px;
  width:240px;
  height:41px;
}
#u6367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6367_input {
  color:#000000;
}
#u6367_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:246px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:58px;
}
#u6368 {
  position:absolute;
  left:783px;
  top:332px;
  width:161px;
  height:58px;
  font-size:18px;
  color:#FFFFFF;
}
#u6369 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u6370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:167px;
}
#u6370 {
  position:absolute;
  left:1032px;
  top:332px;
  width:553px;
  height:167px;
  text-align:left;
  line-height:16px;
}
#u6371 {
  position:absolute;
  left:2px;
  top:28px;
  width:549px;
  word-wrap:break-word;
}
#u6372 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u6372_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6372_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u6373 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6374 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6373_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u6375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u6375 {
  position:absolute;
  left:793px;
  top:334px;
  width:154px;
  height:58px;
  font-size:18px;
  color:#FFFFFF;
}
#u6376 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u6377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u6377 {
  position:absolute;
  left:947px;
  top:372px;
  width:85px;
  height:1px;
}
#u6378 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6379 {
  position:absolute;
  left:526px;
  top:898px;
  width:419px;
  height:49px;
}
#u6379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:49px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6379_input {
  color:#333333;
}
#u6379_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:425px;
  height:55px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:188px;
}
#u6380 {
  position:absolute;
  left:1029px;
  top:888px;
  width:424px;
  height:188px;
  font-size:14px;
  text-align:left;
  line-height:16px;
}
#u6381 {
  position:absolute;
  left:2px;
  top:22px;
  width:420px;
  word-wrap:break-word;
}
#u6382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u6382 {
  position:absolute;
  left:944px;
  top:920px;
  width:85px;
  height:1px;
}
#u6383 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:58px;
}
#u6384 {
  position:absolute;
  left:525px;
  top:404px;
  width:422px;
  height:58px;
}
#u6385 {
  position:absolute;
  left:2px;
  top:21px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6386 {
  position:absolute;
  left:539px;
  top:413px;
  width:395px;
  height:41px;
}
#u6386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6386_input {
  color:#000000;
}
#u6386_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:58px;
}
#u6387 {
  position:absolute;
  left:525px;
  top:467px;
  width:422px;
  height:58px;
}
#u6388 {
  position:absolute;
  left:2px;
  top:21px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6389 {
  position:absolute;
  left:539px;
  top:476px;
  width:395px;
  height:41px;
}
#u6389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6389_input {
  color:#000000;
}
#u6389_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u6390 {
  position:absolute;
  left:440px;
  top:433px;
  width:85px;
  height:1px;
}
#u6391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:106px;
}
#u6392 {
  position:absolute;
  left:67px;
  top:393px;
  width:373px;
  height:106px;
  font-size:12px;
  text-align:left;
  line-height:16px;
}
#u6393 {
  position:absolute;
  left:2px;
  top:29px;
  width:369px;
  word-wrap:break-word;
}
#u6394 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u6394_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6394_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u6395 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6396 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6395_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
