body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3063 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u3064 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u3065 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u3067 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u3069 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:45px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u3071 {
  position:absolute;
  left:682px;
  top:241px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3072 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u3073 {
  position:absolute;
  left:525px;
  top:272px;
  width:422px;
  height:1px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
}
#u3075 {
  position:absolute;
  left:273px;
  top:241px;
  width:139px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3076 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3077 {
  position:absolute;
  left:412px;
  top:252px;
  width:117px;
  height:1px;
}
#u3078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u3079 {
  position:absolute;
  left:546px;
  top:234px;
  width:23px;
  height:31px;
}
#u3080 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
}
#u3081 {
  position:absolute;
  left:541px;
  top:348px;
  width:150px;
  height:92px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3083 {
  position:absolute;
  left:541px;
  top:290px;
  width:127px;
  height:40px;
}
#u3083_img.selected {
}
#u3083.selected {
}
#u3084 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3085 {
  position:absolute;
  left:677px;
  top:290px;
  width:127px;
  height:40px;
}
#u3085_img.selected {
}
#u3085.selected {
}
#u3086 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u3087 {
  position:absolute;
  left:814px;
  top:290px;
  width:127px;
  height:40px;
}
#u3087_img.selected {
}
#u3087.selected {
}
#u3088 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:92px;
}
#u3089 {
  position:absolute;
  left:690px;
  top:348px;
  width:250px;
  height:92px;
  font-size:12px;
  text-align:left;
}
#u3090 {
  position:absolute;
  left:2px;
  top:38px;
  width:246px;
  word-wrap:break-word;
}
#u3091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
}
#u3091 {
  position:absolute;
  left:541px;
  top:465px;
  width:150px;
  height:92px;
}
#u3092 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u3093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:92px;
}
#u3093 {
  position:absolute;
  left:690px;
  top:465px;
  width:250px;
  height:92px;
  font-size:12px;
  text-align:left;
}
#u3094 {
  position:absolute;
  left:2px;
  top:38px;
  width:246px;
  word-wrap:break-word;
}
#u3095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:57px;
}
#u3095 {
  position:absolute;
  left:873px;
  top:350px;
  width:67px;
  height:57px;
}
#u3096 {
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:57px;
}
#u3097 {
  position:absolute;
  left:873px;
  top:465px;
  width:67px;
  height:57px;
}
#u3098 {
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:106px;
}
#u3099 {
  position:absolute;
  left:30px;
  top:290px;
  width:150px;
  height:96px;
}
#u3100 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
}
#u3101 {
  position:absolute;
  left:1042px;
  top:383px;
  width:139px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3102 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3103 {
  position:absolute;
  left:915px;
  top:394px;
  width:117px;
  height:1px;
}
#u3104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
