body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:78px;
}
#u12940 {
  position:absolute;
  left:2px;
  top:31px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u12941 {
  position:absolute;
  left:30px;
  top:21px;
  width:281px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12942 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u12943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u12943 {
  position:absolute;
  left:1100px;
  top:29px;
  width:122px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u12943_ann {
  position:absolute;
  left:1215px;
  top:25px;
  width:1px;
  height:1px;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12945 {
  position:absolute;
  left:1249px;
  top:24px;
  width:30px;
  height:30px;
}
#u12946 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12945_ann {
  position:absolute;
  left:1272px;
  top:20px;
  width:1px;
  height:1px;
}
#u12947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u12947 {
  position:absolute;
  left:959px;
  top:30px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12948 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u12947_ann {
  position:absolute;
  left:1007px;
  top:26px;
  width:1px;
  height:1px;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12950 {
  position:absolute;
  left:0px;
  top:77px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12950_img.mouseOver {
}
#u12950.mouseOver {
}
#u12951 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12953 {
  position:absolute;
  left:0px;
  top:134px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12953_img.mouseOver {
}
#u12953.mouseOver {
}
#u12954 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12955 {
  position:absolute;
  left:0px;
  top:228px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12955_img.mouseOver {
}
#u12955.mouseOver {
}
#u12956 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12957 {
  position:absolute;
  left:0px;
  top:275px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12957_img.mouseOver {
}
#u12957.mouseOver {
}
#u12958 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12959 {
  position:absolute;
  left:0px;
  top:181px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12959_img.mouseOver {
}
#u12959.mouseOver {
}
#u12960 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12962 {
  position:absolute;
  left:0px;
  top:567px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12962_img.mouseOver {
}
#u12962.mouseOver {
}
#u12963 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12965 {
  position:absolute;
  left:0px;
  top:624px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12965_img.mouseOver {
}
#u12965.mouseOver {
}
#u12966 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12967 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u12967_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12967_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u12969 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u12970 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12971 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u12972 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u12973 {
  position:absolute;
  left:16px;
  top:66px;
  width:185px;
  height:33px;
}
#u12974 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12975 {
  position:absolute;
  left:51px;
  top:126px;
  width:89px;
  height:28px;
}
#u12975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12975_input {
  color:#333333;
}
#u12975_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12976 {
  position:absolute;
  left:165px;
  top:126px;
  width:89px;
  height:28px;
}
#u12976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12976_input {
  color:#333333;
}
#u12976_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12978 {
  position:absolute;
  left:0px;
  top:672px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12978_img.mouseOver {
}
#u12978.mouseOver {
}
#u12979 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12981 {
  position:absolute;
  left:0px;
  top:729px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12981_img.mouseOver {
}
#u12981.mouseOver {
}
#u12982 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u12984 {
  position:absolute;
  left:0px;
  top:882px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12984_img.mouseOver {
}
#u12984.mouseOver {
}
#u12985 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u12986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12987 {
  position:absolute;
  left:0px;
  top:939px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12987_img.mouseOver {
}
#u12987.mouseOver {
}
#u12988 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12989 {
  position:absolute;
  left:0px;
  top:986px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12989_img.mouseOver {
}
#u12989.mouseOver {
}
#u12990 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12991 {
  position:absolute;
  left:0px;
  top:1033px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12991_img.mouseOver {
}
#u12991.mouseOver {
}
#u12992 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12993 {
  position:absolute;
  left:0px;
  top:1127px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12993_img.mouseOver {
}
#u12993.mouseOver {
}
#u12994 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12995 {
  position:absolute;
  left:0px;
  top:1174px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12995_img.mouseOver {
}
#u12995.mouseOver {
}
#u12996 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12997 {
  position:absolute;
  left:0px;
  top:1221px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12997_img.mouseOver {
}
#u12997.mouseOver {
}
#u12998 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u12999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u12999 {
  position:absolute;
  left:0px;
  top:1080px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12999_img.mouseOver {
}
#u12999.mouseOver {
}
#u13000 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13002 {
  position:absolute;
  left:0px;
  top:777px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13002_img.mouseOver {
}
#u13002.mouseOver {
}
#u13003 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13005 {
  position:absolute;
  left:0px;
  top:834px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13005_img.mouseOver {
}
#u13005.mouseOver {
}
#u13006 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13008 {
  position:absolute;
  left:0px;
  top:323px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13008_img.mouseOver {
}
#u13008.mouseOver {
}
#u13009 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13011 {
  position:absolute;
  left:0px;
  top:378px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13011_img.mouseOver {
}
#u13011.mouseOver {
}
#u13012 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13013 {
  position:absolute;
  left:0px;
  top:425px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13013_img.mouseOver {
}
#u13013.mouseOver {
}
#u13014 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13015 {
  position:absolute;
  left:0px;
  top:472px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13015_img.mouseOver {
}
#u13015.mouseOver {
}
#u13016 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13017 {
  position:absolute;
  left:0px;
  top:519px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13017_img.mouseOver {
}
#u13017.mouseOver {
}
#u13018 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
}
#u13020 {
  position:absolute;
  left:0px;
  top:1269px;
  width:145px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u13020_img.mouseOver {
}
#u13020.mouseOver {
}
#u13021 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u13022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13023 {
  position:absolute;
  left:0px;
  top:1326px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13023_img.mouseOver {
}
#u13023.mouseOver {
}
#u13024 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u13026 {
  position:absolute;
  left:0px;
  top:1374px;
  width:145px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u13026_img.mouseOver {
}
#u13026.mouseOver {
}
#u13027 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u13028 {
  position:absolute;
  left:205px;
  top:228px;
  width:1100px;
  height:210px;
}
#u13029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u13029 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u13030 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u13029_ann {
  position:absolute;
  left:169px;
  top:0px;
  width:1px;
  height:1px;
}
#u13031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u13031 {
  position:absolute;
  left:183px;
  top:0px;
  width:183px;
  height:52px;
}
#u13032 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u13033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u13033 {
  position:absolute;
  left:366px;
  top:0px;
  width:183px;
  height:52px;
}
#u13034 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u13035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u13035 {
  position:absolute;
  left:549px;
  top:0px;
  width:183px;
  height:52px;
}
#u13036 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u13037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u13037 {
  position:absolute;
  left:732px;
  top:0px;
  width:183px;
  height:52px;
}
#u13038 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u13039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:52px;
}
#u13039 {
  position:absolute;
  left:915px;
  top:0px;
  width:180px;
  height:52px;
}
#u13040 {
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u13041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
}
#u13041 {
  position:absolute;
  left:0px;
  top:52px;
  width:183px;
  height:71px;
}
#u13042 {
  position:absolute;
  left:2px;
  top:28px;
  width:179px;
  word-wrap:break-word;
}
#u13043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
}
#u13043 {
  position:absolute;
  left:183px;
  top:52px;
  width:183px;
  height:71px;
}
#u13044 {
  position:absolute;
  left:2px;
  top:28px;
  width:179px;
  word-wrap:break-word;
}
#u13045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
}
#u13045 {
  position:absolute;
  left:366px;
  top:52px;
  width:183px;
  height:71px;
}
#u13046 {
  position:absolute;
  left:2px;
  top:28px;
  width:179px;
  word-wrap:break-word;
}
#u13047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
}
#u13047 {
  position:absolute;
  left:549px;
  top:52px;
  width:183px;
  height:71px;
}
#u13048 {
  position:absolute;
  left:2px;
  top:28px;
  width:179px;
  word-wrap:break-word;
}
#u13049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:71px;
}
#u13049 {
  position:absolute;
  left:732px;
  top:52px;
  width:183px;
  height:71px;
}
#u13050 {
  position:absolute;
  left:2px;
  top:28px;
  width:179px;
  word-wrap:break-word;
}
#u13051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:71px;
}
#u13051 {
  position:absolute;
  left:915px;
  top:52px;
  width:180px;
  height:71px;
}
#u13052 {
  position:absolute;
  left:2px;
  top:28px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:82px;
}
#u13053 {
  position:absolute;
  left:0px;
  top:123px;
  width:183px;
  height:82px;
}
#u13054 {
  position:absolute;
  left:2px;
  top:33px;
  width:179px;
  word-wrap:break-word;
}
#u13055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:82px;
}
#u13055 {
  position:absolute;
  left:183px;
  top:123px;
  width:183px;
  height:82px;
}
#u13056 {
  position:absolute;
  left:2px;
  top:33px;
  width:179px;
  word-wrap:break-word;
}
#u13057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:82px;
}
#u13057 {
  position:absolute;
  left:366px;
  top:123px;
  width:183px;
  height:82px;
}
#u13058 {
  position:absolute;
  left:2px;
  top:33px;
  width:179px;
  word-wrap:break-word;
}
#u13059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:82px;
}
#u13059 {
  position:absolute;
  left:549px;
  top:123px;
  width:183px;
  height:82px;
}
#u13060 {
  position:absolute;
  left:2px;
  top:33px;
  width:179px;
  word-wrap:break-word;
}
#u13061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:82px;
}
#u13061 {
  position:absolute;
  left:732px;
  top:123px;
  width:183px;
  height:82px;
}
#u13062 {
  position:absolute;
  left:2px;
  top:33px;
  width:179px;
  word-wrap:break-word;
}
#u13063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:82px;
}
#u13063 {
  position:absolute;
  left:915px;
  top:123px;
  width:180px;
  height:82px;
}
#u13064 {
  position:absolute;
  left:2px;
  top:33px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13065 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u13065_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13067 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13068 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u13069 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u13070 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u13071 {
  position:absolute;
  left:12px;
  top:33px;
  width:185px;
  height:33px;
}
#u13072 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u13073 {
  position:absolute;
  left:174px;
  top:130px;
  width:89px;
  height:28px;
}
#u13073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13073_input {
  color:#333333;
}
#u13073_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13074 {
  position:absolute;
  left:31px;
  top:130px;
  width:89px;
  height:28px;
}
#u13074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13074_input {
  color:#333333;
}
#u13074_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13075 {
  position:absolute;
  left:12px;
  top:57px;
  width:263px;
  height:53px;
}
#u13075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13075_input {
  color:#000000;
}
#u13075_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:269px;
  height:59px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13075_ann {
  position:absolute;
  left:268px;
  top:53px;
  width:1px;
  height:1px;
}
#u13076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u13076 {
  position:absolute;
  left:37px;
  top:57px;
  width:200px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13077 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13076_ann {
  position:absolute;
  left:230px;
  top:53px;
  width:1px;
  height:1px;
}
#u13078 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u13078_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13078_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13080 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13081 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u13082 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u13083 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u13084 {
  position:absolute;
  left:16px;
  top:66px;
  width:185px;
  height:33px;
}
#u13085 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u13086 {
  position:absolute;
  left:165px;
  top:127px;
  width:89px;
  height:28px;
}
#u13086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13086_input {
  color:#333333;
}
#u13086_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13087 {
  position:absolute;
  left:16px;
  top:127px;
  width:89px;
  height:28px;
}
#u13087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13087_input {
  color:#333333;
}
#u13087_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u13088 {
  position:absolute;
  left:1234px;
  top:307px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u13088_img.mouseOver {
}
#u13088.mouseOver {
}
#u13089 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u13090 {
  position:absolute;
  left:1234px;
  top:384px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u13090_img.mouseOver {
}
#u13090.mouseOver {
}
#u13091 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u13092 {
  position:absolute;
  left:1159px;
  top:307px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u13092_img.mouseOver {
}
#u13092.mouseOver {
}
#u13093 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13092_ann {
  position:absolute;
  left:1181px;
  top:303px;
  width:1px;
  height:1px;
}
#u13094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u13094 {
  position:absolute;
  left:1159px;
  top:384px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u13094_img.mouseOver {
}
#u13094.mouseOver {
}
#u13095 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13096 {
  position:absolute;
  left:1160px;
  top:174px;
  width:140px;
  height:31px;
}
#u13096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13096_input {
  color:#333333;
}
#u13096_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:37px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13096_ann {
  position:absolute;
  left:1293px;
  top:170px;
  width:1px;
  height:1px;
}
#u13097 {
  position:absolute;
  left:399px;
  top:174px;
  width:155px;
  height:25px;
}
#u13097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13097_input {
  color:#000000;
}
#u13097_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:161px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13098 {
  position:absolute;
  left:597px;
  top:174px;
  width:155px;
  height:25px;
}
#u13098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13098_input {
  color:#000000;
}
#u13098_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:161px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13099 {
  position:absolute;
  left:794px;
  top:174px;
  width:140px;
  height:25px;
}
#u13099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13099_input {
  color:#333333;
}
#u13099_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:44px;
}
#u13100 {
  position:absolute;
  left:828px;
  top:350px;
  width:165px;
  height:44px;
}
#u13101 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u13102 {
  position:absolute;
  left:993px;
  top:374px;
  width:73px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13102_ann {
  position:absolute;
  left:1059px;
  top:370px;
  width:1px;
  height:1px;
}
#u13103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u13104 {
  position:absolute;
  left:546px;
  top:576px;
  width:64px;
  height:28px;
}
#u13105 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13104_ann {
  position:absolute;
  left:603px;
  top:572px;
  width:1px;
  height:1px;
}
#u13106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13106 {
  position:absolute;
  left:609px;
  top:576px;
  width:28px;
  height:28px;
}
#u13107 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u13108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13108 {
  position:absolute;
  left:637px;
  top:576px;
  width:28px;
  height:28px;
}
#u13109 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u13110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13110 {
  position:absolute;
  left:665px;
  top:576px;
  width:28px;
  height:28px;
}
#u13111 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13112 {
  position:absolute;
  left:693px;
  top:576px;
  width:28px;
  height:28px;
}
#u13113 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13114 {
  position:absolute;
  left:721px;
  top:576px;
  width:28px;
  height:28px;
}
#u13115 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u13114_ann {
  position:absolute;
  left:742px;
  top:572px;
  width:1px;
  height:1px;
}
#u13116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u13116 {
  position:absolute;
  left:756px;
  top:586px;
  width:25px;
  height:16px;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u13118 {
  position:absolute;
  left:819px;
  top:576px;
  width:64px;
  height:28px;
}
#u13119 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u13118_ann {
  position:absolute;
  left:876px;
  top:572px;
  width:1px;
  height:1px;
}
#u13120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u13120 {
  position:absolute;
  left:920px;
  top:582px;
  width:29px;
  height:16px;
}
#u13121 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13122 {
  position:absolute;
  left:959px;
  top:576px;
  width:45px;
  height:28px;
}
#u13122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13122_input {
  color:#000000;
}
#u13122_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:51px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u13123 {
  position:absolute;
  left:1014px;
  top:582px;
  width:15px;
  height:16px;
}
#u13124 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u13125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u13125 {
  position:absolute;
  left:1045px;
  top:576px;
  width:51px;
  height:28px;
}
#u13126 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u13125_ann {
  position:absolute;
  left:1089px;
  top:572px;
  width:1px;
  height:1px;
}
#u13127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13127 {
  position:absolute;
  left:792px;
  top:576px;
  width:28px;
  height:28px;
}
#u13128 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u13127_ann {
  position:absolute;
  left:813px;
  top:572px;
  width:1px;
  height:1px;
}
#u13129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:28px;
}
#u13129 {
  position:absolute;
  left:373px;
  top:512px;
  width:605px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13130 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  white-space:nowrap;
}
#u13131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:41px;
}
#u13131 {
  position:absolute;
  left:180px;
  top:98px;
  width:1120px;
  height:41px;
}
#u13132 {
  position:absolute;
  left:2px;
  top:12px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:3px;
}
#u13133 {
  position:absolute;
  left:180px;
  top:139px;
  width:1120px;
  height:3px;
}
#u13134 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13135 {
  position:absolute;
  left:195px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u13136 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u13137 {
  position:absolute;
  left:274px;
  top:110px;
  width:27px;
  height:19px;
  font-size:16px;
}
#u13138 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u13139 {
  position:absolute;
  left:312px;
  top:110px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u13140 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13141 {
  position:absolute;
  left:205px;
  top:174px;
  width:155px;
  height:25px;
}
#u13141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13141_input {
  color:#000000;
}
#u13141_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:161px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
