body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1090 {
  position:absolute;
  left:500px;
  top:99px;
  width:473px;
  height:954px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:674px;
}
#u1092 {
  position:absolute;
  left:525px;
  top:272px;
  width:422px;
  height:674px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:329px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u1094 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u1096 {
  position:absolute;
  left:304px;
  top:245px;
  width:92px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:546px;
  top:292px;
  width:118px;
  height:30px;
  font-size:12px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u1100 {
  position:absolute;
  left:525px;
  top:329px;
  width:419px;
  height:1px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u1102 {
  position:absolute;
  left:876px;
  top:290px;
  width:1px;
  height:32px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1104 {
  position:absolute;
  left:898px;
  top:292px;
  width:28px;
  height:25px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:46px;
}
#u1106 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:46px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:15px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u1108 {
  position:absolute;
  left:529px;
  top:229px;
  width:32px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u1110 {
  position:absolute;
  left:525px;
  top:273px;
  width:422px;
  height:1px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:2px;
}
#u1112 {
  position:absolute;
  left:438px;
  top:253px;
  width:98px;
  height:1px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u1114 {
  position:absolute;
  left:927px;
  top:298px;
  width:87px;
  height:1px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:47px;
}
#u1116 {
  position:absolute;
  left:1024px;
  top:274px;
  width:282px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u1118 {
  position:absolute;
  left:654px;
  top:242px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1120 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u1120_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u1124 {
  position:absolute;
  left:273px;
  top:13px;
  width:15px;
  height:14px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u1126 {
  position:absolute;
  left:123px;
  top:27px;
  width:61px;
  height:19px;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1126_ann {
  position:absolute;
  left:177px;
  top:23px;
  width:1px;
  height:1px;
}
#u1128 {
  position:absolute;
  left:199px;
  top:134px;
  width:89px;
  height:28px;
}
#u1128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1128_input {
  color:#333333;
}
#u1128_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:95px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1128_ann {
  position:absolute;
  left:281px;
  top:130px;
  width:1px;
  height:1px;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u1129 {
  position:absolute;
  left:10px;
  top:53px;
  width:61px;
  height:19px;
  font-size:12px;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u1131 {
  position:absolute;
  left:10px;
  top:72px;
  width:61px;
  height:19px;
  color:#1E1E1E;
}
#u1131_img.selected {
}
#u1131.selected {
}
#u1132 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u1131_ann {
  position:absolute;
  left:64px;
  top:68px;
  width:1px;
  height:1px;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u1133 {
  position:absolute;
  left:104px;
  top:72px;
  width:80px;
  height:19px;
  color:#1E1E1E;
}
#u1133_img.selected {
}
#u1133.selected {
}
#u1134 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u1135 {
  position:absolute;
  left:10px;
  top:107px;
  width:80px;
  height:19px;
  color:#1E1E1E;
}
#u1135_img.selected {
}
#u1135.selected {
}
#u1136 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u1137 {
  position:absolute;
  left:10px;
  top:144px;
  width:31px;
  height:18px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1137_ann {
  position:absolute;
  left:34px;
  top:140px;
  width:1px;
  height:1px;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:115px;
}
#u1139 {
  position:absolute;
  left:131px;
  top:376px;
  width:306px;
  height:115px;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:2px;
}
#u1141 {
  position:absolute;
  left:438px;
  top:430px;
  width:112px;
  height:1px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u1143 {
  position:absolute;
  left:550px;
  top:575px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u1145 {
  position:absolute;
  left:754px;
  top:579px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u1147 {
  position:absolute;
  left:550px;
  top:536px;
  width:172px;
  height:30px;
  font-size:12px;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u1149 {
  position:absolute;
  left:752px;
  top:539px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:170px;
}
#u1151 {
  position:absolute;
  left:550px;
  top:359px;
  width:186px;
  height:170px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:77px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:170px;
}
#u1153 {
  position:absolute;
  left:751px;
  top:359px;
  width:186px;
  height:170px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:77px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u1155 {
  position:absolute;
  left:555px;
  top:372px;
  width:176px;
  height:143px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:143px;
}
#u1157 {
  position:absolute;
  left:758px;
  top:372px;
  width:171px;
  height:143px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:64px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:2px;
}
#u1159 {
  position:absolute;
  left:438px;
  top:557px;
  width:112px;
  height:1px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:-8px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u1161 {
  position:absolute;
  left:238px;
  top:549px;
  width:200px;
  height:14px;
  font-size:12px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u1163 {
  position:absolute;
  left:558px;
  top:844px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u1165 {
  position:absolute;
  left:556px;
  top:804px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:170px;
}
#u1167 {
  position:absolute;
  left:555px;
  top:624px;
  width:186px;
  height:170px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:77px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:143px;
}
#u1169 {
  position:absolute;
  left:562px;
  top:637px;
  width:171px;
  height:143px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:64px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u1171 {
  position:absolute;
  left:927px;
  top:249px;
  width:87px;
  height:1px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:25px;
}
#u1173 {
  position:absolute;
  left:1024px;
  top:225px;
  width:282px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
}
#u1175 {
  position:absolute;
  left:370px;
  top:301px;
  width:58px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u1176 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u1177 {
  position:absolute;
  left:438px;
  top:309px;
  width:108px;
  height:1px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
