body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2516 {
  position:absolute;
  left:648px;
  top:64px;
  width:473px;
  height:954px;
}
#u2517 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2518 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:744px;
}
#u2519 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u2520 {
  position:absolute;
  left:673px;
  top:167px;
  width:422px;
  height:26px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u2522 {
  position:absolute;
  left:673px;
  top:192px;
  width:422px;
  height:13px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2524 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2525 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1px;
}
#u2526 {
  position:absolute;
  left:673px;
  top:204px;
  width:422px;
  height:1px;
}
#u2527 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u2528 {
  position:absolute;
  left:673px;
  top:247px;
  width:422px;
  height:1px;
}
#u2529 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u2531 {
  position:absolute;
  left:697px;
  top:283px;
  width:375px;
  height:250px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2532 {
  position:absolute;
  left:20px;
  top:80px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:45px;
}
#u2533 {
  position:absolute;
  left:717px;
  top:553px;
  width:335px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u2533_img.mouseDown {
}
#u2533.mouseDown {
  opacity:0.8;
}
#u2534 {
  position:absolute;
  left:0px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u2535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:45px;
}
#u2535 {
  position:absolute;
  left:717px;
  top:608px;
  width:335px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0079FE;
  line-height:20px;
}
#u2535_img.mouseDown {
}
#u2535.mouseDown {
}
#u2536 {
  position:absolute;
  left:0px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2537 {
  position:absolute;
  left:834px;
  top:307px;
  width:100px;
  height:100px;
}
#u2538 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2539 {
  position:absolute;
  left:858px;
  top:329px;
  width:60px;
  height:60px;
}
#u2540 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u2541 {
  position:absolute;
  left:848px;
  top:438px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2542 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
}
#u2543 {
  position:absolute;
  left:369px;
  top:560px;
  width:260px;
  height:38px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2544 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u2545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:2px;
}
#u2545 {
  position:absolute;
  left:610px;
  top:575px;
  width:107px;
  height:1px;
}
#u2546 {
  position:absolute;
  left:2px;
  top:-8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u2547 {
  position:absolute;
  left:452px;
  top:620px;
  width:158px;
  height:21px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u2548 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u2549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:2px;
}
#u2549 {
  position:absolute;
  left:620px;
  top:630px;
  width:97px;
  height:1px;
}
#u2550 {
  position:absolute;
  left:2px;
  top:-8px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
}
#u2551 {
  position:absolute;
  left:168px;
  top:262px;
  width:300px;
  height:250px;
}
#u2552 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:2px;
}
#u2553 {
  position:absolute;
  left:478px;
  top:388px;
  width:261px;
  height:1px;
}
#u2554 {
  position:absolute;
  left:2px;
  top:-8px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
