body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u843 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u844 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u845 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u846 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u847 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u848 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u849 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:13px;
}
#u850 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u851 {
  position:absolute;
  left:525px;
  top:240px;
  width:422px;
  height:1px;
}
#u852 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u853 {
  position:absolute;
  left:707px;
  top:406px;
  width:60px;
  height:60px;
}
#u854 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:584px;
  top:565px;
  width:140px;
  height:25px;
}
#u855_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u855_input {
  color:#333333;
}
#u855_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u856 {
  position:absolute;
  left:754px;
  top:565px;
  width:140px;
  height:25px;
}
#u856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u856_input {
  color:#333333;
}
#u856_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u857 {
  position:absolute;
  left:979px;
  top:564px;
  width:202px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0080FF;
  text-align:left;
  line-height:16px;
}
#u858 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u859 {
  position:absolute;
  left:894px;
  top:580px;
  width:85px;
  height:1px;
}
#u860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
}
#u861 {
  position:absolute;
  left:279px;
  top:561px;
  width:191px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0080FF;
  text-align:left;
  line-height:16px;
}
#u862 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:2px;
}
#u863 {
  position:absolute;
  left:470px;
  top:577px;
  width:114px;
  height:1px;
}
#u864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u865 {
  position:absolute;
  left:687px;
  top:377px;
  width:100px;
  height:100px;
}
#u866 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u867 {
  position:absolute;
  left:707px;
  top:397px;
  width:60px;
  height:60px;
}
#u868 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u869 {
  position:absolute;
  left:701px;
  top:493px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
