body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:1002px;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:1002px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:493px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u3048 {
  position:absolute;
  left:392px;
  top:252px;
  width:43px;
  height:16px;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u3050 {
  position:absolute;
  left:392px;
  top:307px;
  width:43px;
  height:16px;
}
#u3051 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3052 {
  position:absolute;
  left:445px;
  top:247px;
  width:300px;
  height:25px;
}
#u3052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3052_input {
  color:#000000;
}
#u3052_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3052_ann {
  position:absolute;
  left:738px;
  top:243px;
  width:1px;
  height:1px;
}
#u3053 {
  position:absolute;
  left:445px;
  top:303px;
  width:300px;
  height:25px;
}
#u3053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3053_input {
  color:#000000;
}
#u3053_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:84px;
}
#u3054 {
  position:absolute;
  left:461px;
  top:63px;
  width:217px;
  height:84px;
  font-size:36px;
  text-align:center;
}
#u3055 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u3056 {
  position:absolute;
  left:525px;
  top:388px;
  width:140px;
  height:41px;
}
#u3056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3056_input {
  color:#333333;
}
#u3056_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3056_ann {
  position:absolute;
  left:658px;
  top:384px;
  width:1px;
  height:1px;
}
#u3057 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-29px;
  visibility:hidden;
}
#u3057_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3057_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3059 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_ann {
  position:absolute;
  left:293px;
  top:-4px;
  width:1px;
  height:1px;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u3060 {
  position:absolute;
  left:392px;
  top:197px;
  width:85px;
  height:16px;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3062 {
  position:absolute;
  left:487px;
  top:191px;
  width:258px;
  height:30px;
}
#u3062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3062_input {
  color:#000000;
}
#u3062_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3062_input:disabled {
  color:grayText;
}
#u3062_ann {
  position:absolute;
  left:738px;
  top:187px;
  width:1px;
  height:1px;
}
