body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3275 {
  position:absolute;
  left:500px;
  top:100px;
  width:473px;
  height:954px;
}
#u3276 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u3277 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:744px;
}
#u3278 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:26px;
}
#u3279 {
  position:absolute;
  left:525px;
  top:203px;
  width:422px;
  height:26px;
}
#u3280 {
  position:absolute;
  left:2px;
  top:5px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:13px;
}
#u3281 {
  position:absolute;
  left:525px;
  top:228px;
  width:422px;
  height:13px;
}
#u3282 {
  position:absolute;
  left:2px;
  top:-2px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u3283 {
  position:absolute;
  left:525px;
  top:240px;
  width:422px;
  height:1px;
}
#u3284 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:45px;
}
#u3285 {
  position:absolute;
  left:525px;
  top:239px;
  width:422px;
  height:45px;
}
#u3286 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u3287 {
  position:absolute;
  left:687px;
  top:252px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3288 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
}
#u3289 {
  position:absolute;
  left:308px;
  top:252px;
  width:104px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3290 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u3291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3291 {
  position:absolute;
  left:412px;
  top:263px;
  width:117px;
  height:1px;
}
#u3292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u3293 {
  position:absolute;
  left:546px;
  top:245px;
  width:23px;
  height:31px;
}
#u3294 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u3295 {
  position:absolute;
  left:209px;
  top:291px;
  width:199px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3296 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u3297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3297 {
  position:absolute;
  left:408px;
  top:302px;
  width:117px;
  height:1px;
}
#u3298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:113px;
}
#u3299 {
  position:absolute;
  left:535px;
  top:333px;
  width:395px;
  height:113px;
}
#u3300 {
  position:absolute;
  left:2px;
  top:48px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u3301 {
  position:absolute;
  left:550px;
  top:394px;
  width:62px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u3302 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u3303 {
  position:absolute;
  left:826px;
  top:377px;
  width:80px;
  height:25px;
}
#u3303_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3303_input {
  color:#333333;
}
#u3303_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3304 {
  position:absolute;
  left:631px;
  top:402px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u3305 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:277px;
}
#u3306 {
  position:absolute;
  left:524px;
  top:595px;
  width:422px;
  height:277px;
  text-align:left;
}
#u3307 {
  position:absolute;
  left:2px;
  top:-4px;
  width:418px;
  word-wrap:break-word;
}
#u3308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:19px;
}
#u3308 {
  position:absolute;
  left:201px;
  top:729px;
  width:243px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3309 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u3310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:2px;
}
#u3310 {
  position:absolute;
  left:444px;
  top:742px;
  width:91px;
  height:1px;
}
#u3311 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u3312 {
  position:absolute;
  left:272px;
  top:482px;
  width:161px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3313 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u3314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3314 {
  position:absolute;
  left:433px;
  top:410px;
  width:117px;
  height:1px;
}
#u3315 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:24px;
}
#u3316 {
  position:absolute;
  left:260px;
  top:561px;
  width:185px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3317 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u3318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:2px;
}
#u3318 {
  position:absolute;
  left:444px;
  top:577px;
  width:91px;
  height:1px;
}
#u3319 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:56px;
}
#u3320 {
  position:absolute;
  left:169px;
  top:595px;
  width:275px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3321 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u3322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u3322 {
  position:absolute;
  left:444px;
  top:617px;
  width:96px;
  height:1px;
}
#u3323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:37px;
}
#u3324 {
  position:absolute;
  left:1016px;
  top:627px;
  width:260px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3325 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u3326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u3326 {
  position:absolute;
  left:766px;
  top:645px;
  width:250px;
  height:1px;
}
#u3327 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
}
#u3328 {
  position:absolute;
  left:272px;
  top:763px;
  width:172px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3329 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u3330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:2px;
}
#u3330 {
  position:absolute;
  left:444px;
  top:784px;
  width:91px;
  height:1px;
}
#u3331 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:113px;
}
#u3332 {
  position:absolute;
  left:535px;
  top:447px;
  width:395px;
  height:113px;
}
#u3333 {
  position:absolute;
  left:2px;
  top:48px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u3334 {
  position:absolute;
  left:550px;
  top:358px;
  width:113px;
  height:16px;
  color:#FFFFFF;
}
#u3335 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u3336 {
  position:absolute;
  left:550px;
  top:508px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u3337 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3338 {
  position:absolute;
  left:826px;
  top:491px;
  width:80px;
  height:25px;
}
#u3338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3338_input {
  color:#333333;
}
#u3338_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3339 {
  position:absolute;
  left:631px;
  top:516px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u3340 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:30px;
}
#u3341 {
  position:absolute;
  left:535px;
  top:560px;
  width:395px;
  height:30px;
  text-align:left;
}
#u3342 {
  position:absolute;
  left:2px;
  top:7px;
  width:391px;
  word-wrap:break-word;
}
#u3343 {
  position:absolute;
  left:561px;
  top:893px;
  width:137px;
  height:33px;
}
#u3343_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3343_input {
  color:#333333;
}
#u3343_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:143px;
  height:39px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u3344 {
  position:absolute;
  left:272px;
  top:399px;
  width:161px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3345 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u3346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3346 {
  position:absolute;
  left:433px;
  top:493px;
  width:117px;
  height:1px;
}
#u3347 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3348 {
  position:absolute;
  left:766px;
  top:893px;
  width:140px;
  height:33px;
}
#u3348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3348_input {
  color:#333333;
}
#u3348_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:39px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
}
#u3349 {
  position:absolute;
  left:308px;
  top:898px;
  width:136px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3350 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u3351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u3351 {
  position:absolute;
  left:444px;
  top:909px;
  width:117px;
  height:1px;
}
#u3352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
}
#u3353 {
  position:absolute;
  left:1026px;
  top:898px;
  width:136px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3354 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u3355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:2px;
}
#u3355 {
  position:absolute;
  left:906px;
  top:910px;
  width:110px;
  height:1px;
}
#u3356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u3357 {
  position:absolute;
  left:525px;
  top:282px;
  width:422px;
  height:1px;
}
#u3358 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3359 {
  position:absolute;
  left:525px;
  top:283px;
  width:107px;
  height:40px;
}
#u3359_img.selected {
}
#u3359.selected {
}
#u3360 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3361 {
  position:absolute;
  left:631px;
  top:283px;
  width:107px;
  height:40px;
}
#u3361_img.selected {
}
#u3361.selected {
}
#u3362 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3363 {
  position:absolute;
  left:735px;
  top:283px;
  width:107px;
  height:40px;
}
#u3363_img.selected {
}
#u3363.selected {
}
#u3364 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3365 {
  position:absolute;
  left:840px;
  top:283px;
  width:107px;
  height:40px;
}
#u3365_img.selected {
}
#u3365.selected {
}
#u3366 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u3367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u3367 {
  position:absolute;
  left:550px;
  top:467px;
  width:113px;
  height:16px;
  color:#FFFFFF;
}
#u3368 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u3369 {
  position:absolute;
  left:524px;
  top:767px;
  width:422px;
  height:1px;
}
#u3370 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:13px;
}
#u3371 {
  position:absolute;
  left:329px;
  top:675px;
  width:115px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3372 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u3373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:2px;
}
#u3373 {
  position:absolute;
  left:444px;
  top:683px;
  width:96px;
  height:1px;
}
#u3374 {
  position:absolute;
  left:2px;
  top:-8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:18px;
}
#u3375 {
  position:absolute;
  left:1019px;
  top:702px;
  width:272px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3376 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u3377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:2px;
}
#u3377 {
  position:absolute;
  left:745px;
  top:710px;
  width:271px;
  height:1px;
}
#u3378 {
  position:absolute;
  left:2px;
  top:-8px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
}
#u3379 {
  position:absolute;
  left:1026px;
  top:814px;
  width:155px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3380 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u3381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u3381 {
  position:absolute;
  left:752px;
  top:822px;
  width:250px;
  height:1px;
}
#u3382 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
}
#u3383 {
  position:absolute;
  left:191px;
  top:841px;
  width:253px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0080FF;
}
#u3384 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u3385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:2px;
}
#u3385 {
  position:absolute;
  left:444px;
  top:850px;
  width:91px;
  height:1px;
}
#u3386 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
